<style>
    #members {
      font-family: Arial, Helvetica, sans-serif;
      border-collapse: collapse;
      width: 100%;
      

    }
    #members th {
      font-weight: 100;
    }
    #members td, #members th {
      border: 1px solid #ddd;
      padding: 8px;
    }
    
    
    #members tr:hover {background-color: #f3f3f3;}
    
    #members th {
      padding-top: 12px;
      padding-bottom: 12px;
      text-align: left;
      background-color: #f3f3f3;
      color: black;
    }
    </style>
<table *ngIf="members==null"id="members">
    <tr>
        <th>Project Members</th>
    </tr>
    
<!-- 
    <tr *ngFor = "let members of membersTest" >
        <td><a href="/profile/{{(members|async).userName}}">{{(members|async).userName}}</a></td>
</tr>  -->

</table>