<!-- Card Start -->
<div class="card" style="min-height: 100px;" *ngIf="profile != undefined">
    <!-- Card Row Start -->
    <div class="row">
        <!-- Column Profile Image Start -->
        <div class="col-md-3">
            <!-- Card Profile Image Start -->
            <div class="d-flex align-items-center p-2">
                <img [src]="profile | profileImage" class="card-img img-thumbnail pl-1">
            </div>
        </div> <!-- Column Profile Image End -->

        <!-- Column Profile Description Start -->
        <div class="col-md-9 pl-0">       
            <!-- Card Body Start -->
            <div class="card-body pl-0">
                <!-- Flex Row Start -->
                <div class="d-flex flex-row align-items-center mb-2">
                    <!-- User Profile Link -->
                    <span class="h5 card-link mb-0">
                        <a [routerLink]='["/profile/" + profile.userName]'>{{profile.userName}}</a>
                    </span>
                    
                    <!-- Follow/UnFollow User -->
                    <div class="d-inline-flex ml-auto" *ngIf="currentUser == null || ( currentUser != null && profile.id != currentUser.id)">
                        <!-- Follow User Button -->
                        <button class="btn btn-primary float-right" type="button" *ngIf="!isFollowing" (click)="followUser()">
                            Follow
                            <span class="badge badge-light font-weight-light ml-1">
                                {{profile.followers.length}}
                            </span>
                        </button>
            
                        <!-- UnFollow User Button -->
                        <button class="btn btn-primary float-right" type="button" *ngIf="isFollowing" (click)="unFollowUser()">
                            Unfollow
                            <span class="badge badge-light font-weight-light ml-1">
                                {{profile.followers.length}}
                            </span>
                        </button>
                    </div> 
                </div><!-- Flex Row End -->

                 <!-- Card Profile  -->
                <p class="card-text">
                    {{profile.bio}}
                </p>
            </div> <!-- Card Body End -->
        </div> <!-- Column Profile Description End -->
    </div> <!-- Card Row End -->
</div> <!-- Card End -->
