:host{
    height: 100%;
}

.email-template-wrapper {
    background-color: var(--background-color);
    height: 100%;
    .email-template-container {
        width: 100%;
        color: white;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
        display: flex;
        flex-direction: column;
        padding: 40px 20px;
        align-items: center;
    
        @media (min-width: 576px) {
            width: 540px;
        }
        @media (min-width: 768px) {
            width: 720px;
        }
        @media (min-width: 992px) {
            width: 960px;
        }
    
        @media (min-width: 1200px) {
            width: 1140px;
        }

        @media (max-width: 768px) {
            & > * {
                width: 100%;
            }
        }
    
        .email-template-header {
            font-size: 1.5rem;
            font-weight: bold;
            margin-bottom: 40px;
            text-align: center;
        }

        .email-template-body {
            color: black;
            background-color: white;
            padding: 60px;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 40px;
            border-radius: 10px;
            text-align: center;

            & > * {
                margin-bottom: 20px;

                &:last-child {
                    margin-bottom: 0px;
                }
            }

            .reset-password {
                padding: 10px 20px;
                text-transform: uppercase;
            }
        }

        .email-template-footer {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;

            .email-template-social-links-list {
                list-style-type: none;
                display: flex;
                padding: 0px;
                margin-bottom: 40px;
            }

            .email-template-contact {
                margin-bottom: 20px;
                width: 80%;
            }

            .email-template-footer-logo-row {
                width: 100%;
                border-top: 1px solid white;

                .email-template-footer-logo {
                    padding-top: 10px;
                }
            }
        }
    }
}

