<div class="email-template-wrapper">
    <div class="email-template-container">
        <div class="email-template-header">
            AnalySim
        </div>
        <div class="email-template-body">
            <h4 class="email-template-icon"><i class="fa fa-lock fa-4x"></i></h4>
            <div class="email-template-header">
                Forgot your password?
            </div>
            <div class="email-template-description">
                Click on the button below to reset your password
            </div>
            <input type="button" class="btn btn-primary-new reset-password" value="Reset Your Password" [routerLink]='["/resetPassword"]'>
        </div>
        <div class="email-template-footer">
            <ul class="email-template-social-links-list">
                <li class="email-template-social-links-item">
                    <img src="../../assets/img/icon-facebook.png" [routerLink]='["/aboutus"]'>
                </li>
                <li class="email-template-social-links-item">
                    <img src="../../assets/img/icon-linkedin.png" [routerLink]='["/aboutus"]'>
                </li>
                <li class="email-template-social-links-item">
                    <img src="../../assets/img/icon-twitter.png" [routerLink]='["/aboutus"]'>
                </li>
            </ul>
            <div class="email-template-contact">
                Problem or question? <a [routerLink]='["/contactus"]' >Contact us</a> or check out our site to <a  [routerLink]='["/aboutus"]'>learn more</a>
            </div>
            <div class="email-template-footer-logo-row">
                <div class="email-template-footer-logo">
              
                </div>
            </div>
        </div>
    </div>
    
</div>
