<!-- Card Start -->
<div class="card" style="min-height: 100px;">
    <div class="row">
        <div class="col-md-3">
            <div class="d-flex align-items-center p-2">
                <img [src]="profile | profileImage" class="card-img img-thumbnail pl-1">
            </div>
            
        </div>
        <div class="col-md-9 pl-0">       
            <!-- Card Body Start -->
            <div class="card-body pl-0">
                <div class="d-flex flex-row align-items-center mb-2">
                    <span class="h5 card-link mb-0">
                        <a [routerLink]='["/profile/" + profile.userName]'>{{profile.userName}}</a>
                    </span>
                    
                    <!-- Follow Project Start -->
                    <div class="d-inline-flex ml-auto" *ngIf="userID != profile.id">
                        <button class="btn btn-primary float-right" type="button" *ngIf="!isFollowing" (click)="followUser()">
                            Follow
                            <span class="badge badge-light font-weight-light ml-1">
                                {{profile.followers.length}}
                            </span>
                        </button>
            
                        <button class="btn btn-primary float-right" type="button" *ngIf="isFollowing" (click)="unFollowUser()">
                            Unfollow
                            <span class="badge badge-light font-weight-light ml-1">
                                {{profile.followers.length}}
                            </span>
                        </button>

                    </div> 
                </div>    
                <p class="card-text">
                    {{profile.bio}}
                </p>
            </div>
            <!-- Card Body End -->
        </div>
    </div>
</div>
<!-- Card End -->