#main-container {
  border: 0.5px solid var(--background-color-secondary);
  background-color: var(--background-color-tertiary);
  border-radius:1%;
}
#project-container {
  max-height: 700px;
  overflow-y: scroll;
}

.btn{
    background-color:var(--button-background-color);
    color:var(--primary-color);
}

.badge{
    background-color:var(--button-background-color);
    color:white; 
}
