/* You can add global styles to this file, and also import other style files */
.invalid{
    border-color: #dc3545;
}

.valid{
    border-color: #28a745;
}

.nav-link:hover{
    color: #808080 !important;
    transition: .3s;
    
}

html{
    height: 100vh !important;
}

body{ 
    height: 100vh !important; 
    margin:0; 
}

section{
    margin: 0 !important;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
