.card-header {
<<<<<<< HEAD
  background-color: var(--background-color-tertiary);
}

.btn-sm {
  background-color: var(--button-background-color);
  color: var(--primary-color);
  border:none;
}
=======
    background-color: var(--background-color-tertiary);
  }
  
  .btn-sm {
    background-color: var(--button-background-color);
    color: var(--primary-color);
    border:none;
  }
>>>>>>> 35238ae5fd3274893ceefa4010bbae48360a3142
