<!-- Header -->
<header class="header pt-3 mb-2 hero-fade hero-fade--right">
  <!-- Container Start -->
  <div class="container-fluid">
    <!-- Row Start -->
    <div class="row-fluid h-100 align-items-center">
      <div class="row justify-content-center">
        <!-- Column Header Start -->
        <div class="col-xl-5 col-lg-5 ml-3 align-self-center">
          <img src="../../assets/img/AnalySim-Logo.png" class="hero-logo" alt="AnalySim Logo">
          <p class="header-text text-white">A data sharing platform to simplify the visualization of datasets.
            Collaborate together and host your data to the world, or browser through our multiple user generated projects.
          </p>
        </div> <!-- Column Header End -->

        <div class="col-xl-6 col-lg-5 ml-2">
          <img class="img-fluid d-block" src="../../assets/img/graph.gif" alt="">
        </div>
      </div>
    </div> <!-- Row End -->
  </div> <!-- Container End -->
</header> <!-- Header End -->

<!-- Page Content Start -->
<div class="container-fluid lead">
  <!-- Row Services Start -->
  <div class="row justify-content-center p-2 mt-5 services-row">
    <div class="col-md-10">
      <div class="row justify-content-center services-grid">
        <!-- Website Service1 -->
        <div class="col-md-4 mb-4 text-center service-card">
          <h3>Register for AnalySim</h3>
                <hr>
                <p class="lead">Begin building your data or colaborate with a team</p>
                <a class="link-basic" [routerLink]='["/register"]'>Register <i class="fa fa-angle-right fa-xs"></i><i class="fa fa-angle-right fa-xs"></i></a>
                <!-- <button class="btn btn-outline-success btn-lg " [routerLink]='["/register"]'>Register &raquo;</button> -->
        </div>
        <!-- Website Service2 -->
        <div class="col-md-4 mb-4 text-center service-card">
          <h3>Create your own project</h3>
                <hr>
                <p class="lead">Create your own project and share your ideas </p>
                <a class="link-basic" [routerLink]='["/project/create"]'>Create Project <i class="fa fa-angle-right fa-xs"></i><i class="fa fa-angle-right fa-xs"></i></a>
                <!-- <button class="btn btn-outline-success btn-lg " [routerLink]='["/project/create"]'>Create Project &raquo;</button> -->
        </div>
        <!-- Website Service2 -->
        <div class="col-md-4 mb-4 text-center service-card">
          <h3>Browse our projects</h3>
                <hr>
                <p class="lead">Not ready yet? Get inspired from our projects</p>
                <a class="link-basic" [routerLink]='["/explore"]'>Explore Project <i class="fa fa-angle-right fa-xs"></i><i class="fa fa-angle-right fa-xs"></i></a>
                <!-- <button class="btn btn-outline-success btn-lg " [routerLink]='["/explore"]'>Explore Project &raquo;</button> -->
        </div>
      </div>
    </div>
    
  </div> <!-- Row Services End -->

  <!-- Row Organization Start -->
  <div class="row py-4 justify-content-center surface-blue surface-fade surface-fade--right">
    <div class="col-md-6">
      <!-- Organizaiton Description -->
      <div class="row justify-content-center">
        <h2 class="text-center">Gather Data Together Collectively</h2>        <!-- <p class="text-center">Organization brings teams together to tackle an issue together, learn from each other,
          and foster a community</p> -->
      </div>
      <div class="row justify-content-center">
        <div class="text-center">
          <button type="button" class="nav-cta nav-cta--lg" [routerLink]='["/register"]'>Register Your Account &raquo;</button>
     <!-- <button2> type="button"     </button2> -->
        </div>
      </div>
    </div>
  </div> <!-- Row Organization End -->

  <!-- Page Content Start -->
  <div class="container-fluid lead">
    <!-- Row Services Start -->
    <div class="row p-2 mt-5 justify-content-center notebook-row">
      <div class="col-md-10">
        <div class="row justify-content-center">
          <!-- Website Service1 -->
          <div class="col-md-12 col-lg-4 mb-4 text-center notebook-container">
            <h3>Jupyter Notebooks</h3>
            <hr>
            <p class="lead">Host your data and notebooks on AnalySim</p>
            <img class="note-img" src="../../assets/img/Jupyter.png">
            <a class="note-btn link-basic" href="https://nbviewer.org/urls/neruosimhubstorage.blob.core.windows.net/test1/GoogleColab/network_8cell.ipynb" target="_blank">Open Notebook <i class="fa fa-angle-right fa-xs"></i><i class="fa fa-angle-right fa-xs"></i></a>
          </div>
          <!-- Website Service2 -->
          <div class="col-md-12 col-lg-4 mb-4 text-center notebook-container">
            <h3>Observable Notebooks</h3>
            <hr>
            <p class="lead">Harvest power and flexibility of JavaScript, host data on AnalySim</p>
            <img class="note-img" src="../../assets/img/observ.png">
            <a class="note-btn link-basic" href="https://observablehq.com/@cengique/csv-dataset-visualization?API=https:%2F%2Fneruosimhubstorage.blob.core.windows.net%2Ftest1%2Ftest%252FAnalySim-nodtypes.csv" target="_blank">Open Notebook <i class="fa fa-angle-right fa-xs"></i><i class="fa fa-angle-right fa-xs"></i></a>
          </div>
          <!-- Website Service2 -->
          <div class="col-md-12 col-lg-4 mb-4 text-center notebook-container">
            <h3>Google Colab</h3>
            <hr>
            <p class="lead">Run your notebooks on Google, host data on AnalySim</p>
            <img class="note-img" src="../../assets/img/colab.png">
            <a class="note-btn link-basic" href="https://colab.research.google.com/drive/1TCg8BqvJi55XKpqkyNuXVjza9thRta_s#scrollTo=mnCW0x2eL7nK" target="_blank">Open Notebook <i class="fa fa-angle-right fa-xs"></i><i class="fa fa-angle-right fa-xs"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Row Organization Start -->
  <div class="row py-4 justify-content-center surface-blue surface-fade surface-fade--left">
    <div class="col-md-6">
      <!-- Organizaiton Description -->
      <div class="row justify-content-center">
        <h2 class="text-center">Create Your Own Notebook</h2>        <!-- <p class="text-center">Organization brings teams together to tackle an issue together, learn from each other,
          and foster a community</p> -->
      </div>
      <div class="row justify-content-center">
        <div class="text-center">
          <button type="button" class="nav-cta nav-cta--lg" [routerLink]='["/login"]'>Create Notebook &raquo;</button>
     <!-- <button2> type="button"     </button2> -->
        </div>
      </div>
    </div>
  </div> <!-- Row Organization End -->


  <!-- Row Dataset Description1 Start -->
  <div class="row justify-content-center py-4 my-4">
    <div class="col-md-10">
      <div class="row">
        <div class="col-xl-6 col-lg-12">
          <div class="row justify-content-center">
            <div class="col m-3">
              <img class="img-fluid d-block" src="../../assets/img/section.png" alt="">
            </div>
          </div>
        </div>
        <div class="col-xl-6 col-lg-12">
          <div class="row">
            <div class="card border-0">
              <div class="card-body">
                <h2 class="card-title">Browse and analyze datasets</h2>
                <hr>
                <p class="lead">
                  Datasets can be visualized and analyzed with our tools that are specific for parameter search, but
                  also with your custom code, all on the web!
                  You can also access other public datasets, such that you can ask novel questions with them. Use them
                  to guide your own research, or simply start new collaborations.
                  You can join existing teams, or start your own.
                </p>
                <!-- <button class="btn btn-outline-success btn-lg " [routerLink]='["/explore"]'>Explore Project &raquo;</button> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> <!-- Row Dataset Description End -->


   <!-- Row Dataset Description2 Start -->
   <div class="row justify-content-center">
    <div class="col-md-10">
      <div class="row">
        <div class="col-xl-6 col-lg-12">
          <div class="row">
            <div class="card border-0">
              <div class="card-body">
                <h2 class="card-title">Publish your own analyses</h2>
                <hr>
                <p class="lead">
                  We allow making your own copies by filtering others' datasets.
                  You can also duplicate their analyses and improve them by making them your own.
                  This facilitates crowdsourcing scientific problems - especially when they are so large and complex as
                  in parameter search!
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="col-xl-6 col-lg-12">
          <div class="row justify-content-center">
            <div class="col m-3">
              <img class="img-fluid d-block" src="../../assets/img/background4.png" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> <!-- Row Dataset Description End -->

   <!-- Row Dataset Description1 Start -->
   <div class="row justify-content-center py-4 my-4">
    <div class="col-md-10">
      <div class="row">
        <div class="col-xl-6 col-lg-12">
          <div class="row justify-content-center">
            <div class="col m-3">
              <img class="img-fluid d-block" src="../../assets/img/background.png" alt="">
            </div>
          </div>
        </div>
        <div class="col-xl-6 col-lg-12">
          <div class="row">
            <div class="card border-0">
              <div class="card-body">
                <h2 class="card-title">Easily share parameter search datasets</h2>
                <hr>
                <p class="lead">
                  Share, either privately or publicly, your tabular data that has parameters and measurements from any model
                  or experiment.
                  Enter minimal metadata to let others know what your columns mean.
                  We will make your data accessible via our web interface for humans and via a standard RESTful web API for
                  robotic integration.
                  Ideal for publication requirements and collaboration.
                </p>
                <!-- <button class="btn btn-outline-success btn-lg " [routerLink]='["/project/create"]'>Create Project&raquo;</button> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> <!-- Row Dataset Description End -->

 <!-- Row Organization Start -->
 <div class="row py-4 justify-content-center surface-blue surface-fade surface-fade--right">
  <div class="col-md-6">
    <!-- Organizaiton Description -->
    <div class="row justify-content-center">
      <h2 class="text-center">Sponsors</h2>        <!-- <p class="text-center">Organization brings teams together to tackle an issue together, learn from each other,
        and foster a community</p> -->
    </div>
    <div class="row justify-content-center">
      <div class="text-center">
        
   <!-- <button2> type="button"     </button2> -->
      </div>
    </div>
  </div>
</div> <!-- Row Organization End -->



  <!-- Row Dataset Description1 Start -->
  <div class="row justify-content-center py-4 my-4 home-sponsor">
    <div class="col-md-10">
      <div class="sponsor-grid">
        <a class="sponsor-card" href="https://summerofcode.withgoogle.com/" target="_blank" rel="noopener">
          <div class="sponsor-content">
            <img class="sponsor-card__logo" src="../../assets/img/GSoC-icon.png" alt="Google Summer of Code logo" />
            <div class="sponsor-card__name">Google Summer of Code</div>
          </div>
        </a>

        <a class="sponsor-card" href="https://www.incf.org/" target="_blank" rel="noopener">
          <div class="sponsor-content">
            <img class="sponsor-card__logo" src="../../assets/img/incf-icon.png" alt="INCF logo" />
            <div class="sponsor-card__name">International Neuroinformatics Coordinating Facility</div>
          </div>
        </a>

        <a class="sponsor-card" href="https://access-ci.org/" target="_blank" rel="noopener">
          <div class="sponsor-content">
            <img class="sponsor-card__logo" src="../../assets/img/access.png" alt="Access logo" />
            <div class="sponsor-card__name">Access</div>
          </div>
        </a>

        <a class="sponsor-card" href="https://jetstream-cloud.org/" target="_blank" rel="noopener">
          <div class="sponsor-content">
            <img class="sponsor-card__logo" src="../../assets/img/jetstream2-logo.svg" alt="Jetstream2 logo" />
            <div class="sponsor-card__name">Jetstream2</div>
          </div>
        </a>

        <a class="sponsor-card" href="https://www.nsf.gov/" target="_blank" rel="noopener">
          <div class="sponsor-content">
            <img class="sponsor-card__logo" src="../../assets/img/nsf-logo.png" alt="National Science Foundation logo" />
            <div class="sponsor-card__name">National Science Foundation</div>
          </div>
        </a>
      </div>
    </div>
  </div> <!-- Row Dataset Description End -->
</div> <!-- Page Content End -->
