.header{
    /* background-image: url("../../assets/img/background2.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center; */
    background-color:  rgb(186, 199, 218);
    background-image: linear-gradient(#2a1535,#1f161f);
}

.header-text{
    font-size: 1.25rem !important;
    font-weight: 400;
}

.bg-navy{
    /* background-color:#04132a; */
    color: #FFF;
    background-color: #2a1535;

}
.btn-primary {
    color: #fff;
    background-color: #4140aa !important;
    border-color: #4140aa !important;
  }

  a {
    color: #4140aa;
    text-decoration: underline;
  }
