<div class="container my-5"*ngIf="project">

    <div class="row">

        <div class="col-md-12 mb-3 d-flex">

            <!-- Project Route Link -->
            <div class="d-flex align-items-center">
                <span class="h5 card-link mb-0" *ngIf="(project.route | route:'owner') as owner">
                    <a [routerLink]='["/profile/" + owner]'>{{project.route | route:"owner"}}</a>
                </span>
                <span class="h4 mb-0 mx-1">  /  </span>
                <span class="h5 card-link mb-0" *ngIf="(project.route | route:'projectname') as projectname">
                    <a [routerLink]='["/project/" + (project.route | route:"owner") + "/" + projectname]'>{{ projectname }}</a>
                </span>
            </div>

            <!-- Follow/UnFollow Project -->
            <div class="d-inline-flex ml-auto">
                <!-- Follow Project Button -->
                <button class="btn btn-primary mr-1" type="button" *ngIf="!isFollowing" (click)="followProject()">
                    Follow
                    <span class="badge badge-light font-weight-light ml-1">
                        {{ project | role:"follower" }}
                    </span>
                </button>
                <!-- UnFollow Project Button -->
                <button class="btn btn-primary mr-1" type="button" *ngIf="isFollowing" (click)="unFollowProject()">
                    Unfollow
                    <span class="badge badge-light font-weight-light ml-1">
                        {{ project | role:"follower" }}
                    </span>
                </button>

                <!-- Edit Project Button -->
                 <button class="btn btn-success mr-1" [routerLink]='["/project/edit"]' type="submit" *ngIf="isOwner">
                    Edit
                </button>

                <!-- Delete Project Button -->
                <button class="btn btn-danger mr-1" *ngIf="isOwner" (click)="deleteProject()">
                    Delete
                </button>

                <!-- Follow Project Button -->
                <button class="btn btn-success mr-1" type="button" *ngIf="!isMember && !isOwner" (click)="joinProject()">
                    Join
                    <span class="badge badge-light font-weight-light ml-1">
                        {{ project | role:"member" }}
                    </span>
                </button>

                <!-- UnFollow Project Button -->
                <button class="btn btn-danger mr-1" type="button" *ngIf="isMember && !isOwner" (click)="leaveProject()">
                    Leave
                    <span class="badge badge-light font-weight-light ml-1">
                        {{ project | role:"member" }}
                    </span>
                </button>

                <!-- Fork Project Button -->
                <button class="btn btn-secondary" type="button" title="Make a copy of this project in your account" *ngIf="!isOwner" (click)="forkProject()" >
                    Fork
                </button>
                
                <button class="btn btn-secondary" type="button" title="Cannot fork beacause you own this project" *ngIf="isOwner" [disabled]="isOwner">
                    Fork
                </button>

                <!-- <button class="btn btn-danger" type="button" (click)="deleteProject()" >
                    delete
                </button> -->
            </div>
        </div>
        
    </div>

    <!-- Display orginial project if is a forked project -->
    <div class="d-flex align-items-center" *ngIf="forkedFrom != null" >
        <span>forked from&nbsp;</span>
        <span *ngIf="(forkedFrom.route | route:'projectname') as projectname">
            <a [routerLink]='["/project/" + (forkedFrom.route | route:"owner") + "/" + projectname]'>{{forkedFrom.route | route:"owner"}}/{{ projectname }}</a>
        </span>
    </div>

    <div>
        <p>{{project.description}}</p>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <span class="badge badge-pill badge-info font-weight-light mr-2" *ngFor="let projectTag of project.projectTags">
                        {{projectTag.tag.name}}
                    </span>
                </li>
            </ul>
    </div>
    

    <div class="row">
        <div class="col-12 col-md-10">
            <app-project-file-explorer [project]="project" [currentUser]="currentUser" [currentDirectory]="fileDirectory" [isMember]="isMember"></app-project-file-explorer>
        </div>
        <div class="col-3 col-md-2">
            <app-member-list [project]="project"></app-member-list>
        </div>
    </div>

    <ng-template #forkModal>
        <app-modal-fork [forkModalRef]="forkModalRef" [project]="project" [currentUser]="currentUser"></app-modal-fork>
    </ng-template>

    <ng-template #deleteModal>
        <app-modal-delete [deleteModalRef]="deleteModalRef"></app-modal-delete>
    </ng-template>

    <!-- <div class="row h-100">
        <div class="col-md-2 p-0">
            <aside class="h-100 py-5 px-4" style="background-color:#222">
                <ul class="list-group list-group-flush text-white">
                    <li class="list-group-item"><i class="fa fa-home fa-fw"></i> Home</li>
                    <li class="list-group-item"><i class="fa fa-file fa-fw"></i> Report</li>
                    <li class="list-group-item"><i class="fa fa-folder fa-fw"></i> File Explorer</li>
                    <li class="list-group-item"><i class="fa fa-cog fa-fw"></i> Setting</li>
                </ul>
            </aside>   
        </div>
        <div class="col-md-10">
            <div class="sticky-top">
                ...
            </div>
        </div>
    </div> -->