<div class="container-fluid my-5" *ngIf="project">
  <div class="row justify-content-center">
    <div class="col-md-10 mb-3 d-flex">
      <div class="container project-overview-container">
        <!-- Owner Actions -->
        <div class="owner-tools surface-soft" *ngIf="isOwner">
          <div class="owner-tools-actions">
            <button type="button" class="btn btn-primary" (click)="editProject()">Edit Project</button>
            <button type="button" class="btn btn-outline-primary">Post Update</button>
          </div>
        </div>
        <div class="row project-detail-row">
          <div class="project-description">
            <h3 class="project-title" *ngIf="(project.route | route:'projectname') as projectname">
              {{ projectname }}
            </h3>
            <ul class="project-authors-list">
              <li class="project-author" *ngFor='let members of project.projectUsers | projectMember:"owner"'
                [routerLink]='["/profile/" + members.user.userName]'>
                <img class="project-author-thumbnail" [src]="profileImageUrls[members.user.userName]" />
                <div class="project-author-name">
                  {{members.user.userName}}
                </div>
              </li>
            </ul>
            <div class="project-summary">
              {{project.description}}
            </div>
            <ul class="project-tag list-group list-group-flush">
              <li class="list-group-item">
                <span class="badge badge-pill badge-info font-weight-light mr-2"
                  *ngFor="let projectTag of project.projectTags">
                  <div class="tag-link" (click)="exploreTag(projectTag.tag.name)">
                        {{projectTag.tag.name}}
                  </div>
                </span>
              </li>
            </ul>
          </div>
          <div class="project-statistics-group">
            <div class="project-statistics update">
              <div class="project-statistics-header">
                Updates
              </div>
              <div class="project-statistics-divider">

              </div>
              <div class="project-statistics-pill">
                0 new
              </div>
              <div class="project-statistics-current">
                0
              </div>
            </div>
            <div class="project-statistics recommendation">
              <div class="project-statistics-header">
                Recommendation
              </div>
              <div class="project-statistics-divider">

              </div>
              <div class="project-statistics-pill">
                0 new
              </div>
              <div class="project-statistics-current">
                0
              </div>
            </div>
            <div class="project-statistics member">
              <div class="project-statistics-header" (click)="toggleModalMemberList()">
                Members
              </div>
              <div class="project-statistics-divider">

              </div>
              <div class="project-statistics-pill">
                0 new
              </div>
              <div class="project-statistics-current">
                {{ project | role:"member" }}
              </div>
            </div>
            <div class="project-statistics followers">
              <div class="project-statistics-header">
                Followers
              </div>
              <div class="project-statistics-divider">

              </div>
              <div class="project-statistics-pill">
                0 new
              </div>
              <div class="project-statistics-current">
                {{ project | role:"follower" }}
              </div>
            </div>
          </div>
        </div>
        <div class="row project-content-row" *ngIf="activeView === 'Content'">
          <div class="project-content-header">
            <!-- <h3 *ngIf="(project.route | route:'projectname') as projectname">
          {{ projectname }}
      </h3> -->
            <ul class="project-content-header-option">
              <li class="header-link" role="button" tabindex="0">Share</li>
              <li class="header-link" role="button" tabindex="0">Comment</li>
            </ul>
          </div>
        </div>

        <!-- README AREA -->
        <div class="readme-area" *ngIf="readmeNotebook">
          <div class="readme-header">
            <div class="readme-title">README</div>

            <button
              type="button"
              class="readme-toggle"
              *ngIf="toggleNotebookExpand"
              (click)="toggleNotebookExpand = false">
              Hide Readme
            </button>

            <button
              type="button"
              class="readme-toggle"
              *ngIf="!toggleNotebookExpand"
              (click)="toggleNotebookExpand = true">
              Show Readme
            </button>
          </div>

          <!-- Readme content -->
          <div class="project-notebook-row" *ngIf="toggleNotebookExpand">
            <div
              class="readme-content"
              [innerHtml]="notebookContent"
              [ngClass]="isFull ? 'notebook-readme-full' : 'notebook-readme'">
            </div>

            <div class="readme-actions">
              <button type="button" class="btn btn-primary" (click)="toggleNotebook()">
                {{isFull ? 'Read Less' : 'Read More'}}
              </button>

              <button type="button" class="btn btn-outline-primary" (click)="NavigateToNotebook()">
                Open Notebook
              </button>
            </div>
          </div>
        </div>

        <div class="row project-view-option-row">
          <div class="project-view-toggle">
            <input type="button" value="Datasets"
              [routerLink]='["/project/" +  (project.route | route:"owner") + "/" + (project.route | route:"projectname") + "/"  + "file"]'
              [ngClass]='{"active": toggleView == "File"}' (click)="showFile()">
            <input type="button" value="Notebooks"
              [routerLink]='["/project/" +  (project.route | route:"owner") + "/" + (project.route | route:"projectname") + "/"  + "notebook"]'
              [ngClass]='{"active": toggleView == "Content"}' (click)="showNotebooks()">
            <input type="button" value="Comments"
              [routerLink]='["/project/" +  (project.route | route:"owner") + "/" + (project.route | route:"projectname") + "/"  + "comment"]'
              [ngClass]='{"active": toggleView == "Comment"}' (click)="showComments()">
            <input type="button" value="Project Log"
              [routerLink]='["/project/" +  (project.route | route:"owner") + "/" + (project.route | route:"projectname") + "/"  + "log"]'
              [ngClass]='{"active": toggleView == "Log"}' (click)="showLog()">
            <input type="button" value="Publications"
              [routerLink]='["/project/" +  (project.route | route:"owner") + "/" + (project.route | route:"projectname") + "/"  + "publications"]'
              [ngClass]='{"active": toggleView == "Publications"}' (click)="showPublication()">
          </div>
          <div class="project-view-interaction">
            <button type="button" class="btn btn-primary" (click)="forkProject()">Fork Project</button>
            <div class="more-block" [class.is-open]="toggleMoreOption">
              <div class="more-actions" [class.is-open]="toggleMoreOption">
                <a class="more-link" role="button" tabindex="0">Share</a>
                <a class="more-link" role="button" tabindex="0">Recommend</a>
                <a class="more-link" role="button" tabindex="0" *ngIf="!isMember && !isOwner">Join</a>
                <a class="more-link" role="button" tabindex="0" *ngIf="isMember && !isOwner">Leave</a>
                <a
                  class="more-link"
                  role="button"
                  tabindex="0"
                  *ngIf="!isFollowing"
                  (click)="followProject()"
                  (keydown.enter)="followProject()"
                  (keydown.space)="followProject(); $event.preventDefault()"
                  [class.is-disabled]="isFollowLoading"
                  [attr.aria-disabled]="isFollowLoading">
                  Follow
                </a>
                <a
                  class="more-link"
                  role="button"
                  tabindex="0"
                  *ngIf="isFollowing"
                  (click)="unFollowProject()"
                  (keydown.enter)="unFollowProject()"
                  (keydown.space)="unFollowProject(); $event.preventDefault()"
                  [class.is-disabled]="isFollowLoading"
                  [attr.aria-disabled]="isFollowLoading">
                  Unfollow
                </a>
              </div>

              <button type="button"
                      class="more-toggle"
                      (click)="toggleMoreOption = !toggleMoreOption"
                      [attr.aria-expanded]="toggleMoreOption">
                <span class="more-toggle__label" [class.is-hidden]="toggleMoreOption">
                  More <i class="fa-solid fa-arrow-down" aria-hidden="true"></i>
                </span>
                <span class="more-toggle__label" [class.is-hidden]="!toggleMoreOption">
                  Less <i class="fa-solid fa-arrow-up" aria-hidden="true"></i>
                </span>
              </button>
            </div>
          </div>
        </div>
        <div class="row project-view-row">
          <div class="project-view-container">
            <app-project-file-explorer 
              *ngIf="activeView === 'File'" 
              [project]="project" 
              [currentUser]="currentUser"
              [currentDirectory]="fileDirectory" 
              [isMember]="isMember">
            </app-project-file-explorer>

            <app-project-publication 
              *ngIf="activeView === 'Publications'" 
              [project]="project" 
              [currentUser]="currentUser"
              [isMember]="isMember">
            </app-project-publication>

            <app-project-log 
              *ngIf="activeView === 'Log'" 
              [project]="project" 
              [currentUser]="currentUser"
              [isMember]="isMember">
            </app-project-log>

            <app-project-comments 
              [projectId]="project.projectID" 
              *ngIf="activeView === 'Comment'">
            </app-project-comments>

            <app-project-content 
              *ngIf='toggleView == "Content"' 
              [project]="project" 
              [currentUser]="currentUser"
              [isMember]="isMember" 
              [currentDirectory]="fileDirectory">
            </app-project-content>
          </div>

        </div>
      </div>
    </div>
  </div>

  <!-- Display original project if is a forked project -->
  <!-- <div class="d-flex align-items-center" *ngIf="forkedFrom != null" >
        <span>forked from&nbsp;</span>
        <span *ngIf="(forkedFrom.route | route:'projectname') as projectname">
            <a [routerLink]='["/project/" + (forkedFrom.route | route:"owner") + "/" + projectname]'>{{forkedFrom.route | route:"owner"}}/{{ projectname }}</a>
        </span>
    </div>

    <div>
        <p>{{project.description}}</p>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <span class="badge badge-pill badge-info font-weight-light mr-2" *ngFor="let projectTag of project.projectTags">
                        {{projectTag.tag.name}}
                    </span>
                </li>
            </ul>
    </div> -->

  <!-- <app-project-overview [isFollowing]="isFollowing" [isOwner]="isOwner" [isMember]="isMember" [project]="project"></app-project-overview> -->

  <ng-template #forkModal>
    <app-modal-fork [forkModalRef]="forkModalRef" [project]="project" [currentUser]="currentUser"></app-modal-fork>
  </ng-template>

  <ng-template #deleteModal>
    <app-modal-delete [deleteModalRef]="deleteModalRef" [projectID]="project.projectID"
      [currentUser]="currentUser"></app-modal-delete>
  </ng-template>
  <ng-template #memberListModal>
    <app-modal-member-list [memberListModalRef]="memberListModalRef" [projectUsers]="project.projectUsers"
      [currentUser]="currentUser"></app-modal-member-list>
  </ng-template>
  <ng-template #displayNotebookModal>
    <app-project-notebook-item-display [notebook]="readmeNotebook" [version]="latestVersion" [isMember]="isMember"
        (closeModal)="closeDisplayNotebookModal()"></app-project-notebook-item-display>
  </ng-template>


  <!-- <app-member-list [project]="project"></app-member-list> -->

  <!-- <div class="row h-100">
        <div class="col-md-2 p-0">
            <aside class="h-100 py-5 px-4" style="background-color:#222">
                <ul class="list-group list-group-flush text-white">
                    <li class="list-group-item"><i class="fa fa-home fa-fw"></i> Home</li>
                    <li class="list-group-item"><i class="fa fa-file fa-fw"></i> Report</li>
                    <li class="list-group-item"><i class="fa fa-folder fa-fw"></i> File Explorer</li>
                    <li class="list-group-item"><i class="fa fa-cog fa-fw"></i> Setting</li>
                </ul>
            </aside>   
        </div>
        <div class="col-md-10">
            <div class="sticky-top">
                ...
            </div>
        </div>
    </div> -->

  <!-- Project Route Link -->
  <!-- <div class="d-flex align-items-center">
        <span class="h5 card-link mb-0" *ngIf="(project.route | route:'owner') as owner">
            <a [routerLink]='["/profile/" + owner]'>{{project.route | route:"owner"}}</a>
        </span>
        <span class="h4 mb-0 mx-1">  /  </span>
        <span class="h5 card-link mb-0" *ngIf="(project.route | route:'projectname') as projectname">
            <a [routerLink]='["/project/" + (project.route | route:"owner") + "/" + projectname]'>{{ projectname }}</a>
        </span>
    </div> -->

  <!-- Follow/UnFollow Project -->
  <!-- <div class="d-inline-flex ml-auto">
        <!- - Follow Project Button - ->
        <button class="btn btn-primary mr-1" type="button" *ngIf="!isFollowing" (click)="followProject()">
            Follow
            <span class="badge badge-light font-weight-light ml-1">
                {{ project | role:"follower" }}
            </span>
        </button>
        <!- - UnFollow Project Button - ->
        <button class="btn btn-primary mr-1" type="button" *ngIf="isFollowing" (click)="unFollowProject()">
            Unfollow
            <span class="badge badge-light font-weight-light ml-1">
                {{ project | role:"follower" }}
            </span>
        </button>

        <!- - Edit Project Button - ->
            <button class="btn btn-success mr-1" [routerLink]='["/project/edit"]' type="submit" *ngIf="isOwner">
            Edit
        </button>

        <!- - Delete Project Button - ->
        <button class="btn btn-danger mr-1" *ngIf="isOwner" (click)="deleteProject()">
            Delete
        </button>

        <!- - Follow Project Button - ->
        <button class="btn btn-success mr-1" type="button" *ngIf="!isMember && !isOwner" (click)="joinProject()">
            Join
            <span class="badge badge-light font-weight-light ml-1">
                {{ project | role:"member" }}
            </span>
        </button>

        <!- - UnFollow Project Button - ->
        <button class="btn btn-danger mr-1" type="button" *ngIf="isMember && !isOwner" (click)="leaveProject()">
            Leave
            <span class="badge badge-light font-weight-light ml-1">
                {{ project | role:"member" }}
            </span>
        </button>

        <!- - Fork Project Button - ->
        <button class="btn btn-secondary" type="button" title="Make a copy of this project in your account" *ngIf="!isOwner" (click)="forkProject()" >
            Fork
        </button>
        
        <button class="btn btn-secondary" type="button" title="Cannot fork because you own this project" *ngIf="isOwner" [disabled]="isOwner">
            Fork
        </button>

        <!- - <button class="btn btn-danger" type="button" (click)="deleteProject()" >
            delete
        </button> - ->
    </div> -->
</div>
