<div class="card" style="max-width: 540px;">
    <div class="d-flex card-header flex-row align-items-center">
            <span class="h5 card-link mb-0">
                <a [routerLink]='["/test"]'>Testuser</a>
            </span>
            <span class="h4 mb-0 mx-1">  /  </span>
            <span class="h5 card-link mb-0" >
                <a [routerLink]='["/test"]'>AnimalAnalyzer</a>
            </span>
        <div class="d-inline-flex ml-auto">
            <button class="btn btn-primary float-right" type="button">
                Follow 
                <span class="badge badge-light font-weight-light ml-1">100</span>
            </button>
        </div>   
    </div>
    
    <div class="card-body">      
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <span class="badge badge-pill badge-info font-weight-light mr-2">Bat</span>
        <span class="badge badge-pill badge-info font-weight-light mr-2">Hunger</span>
        <span class="badge badge-pill badge-info font-weight-light mr-2">Speaker</span>
      </li>
    </ul>
    <div class="card-footer">
        <span><i class="fa fa-user"></i>  10</span>  
        <span class="float-right">Last Updated 2 Months Ago</span>
    </div>
  </div>