.explanation {
    color: var(--text-muted);
    font-size: smaller;
}

.expired-log-table {
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 2px;
  overflow: hidden;
}

.expired-log-header {
  display: grid;
  grid-template-columns: 1.5fr .75fr .75fr .5fr .5fr .5fr .25fr;
  gap: var(--space-3);
  align-items: center;
  padding: var(--space-1) var(--space-3);
  background: var(--background-color-tertiary);
  font-weight: 600;
  font-size: medium;
  color: var(--text-muted);
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.actions-col {
  display: flex;
  justify-content: flex-end;
}

.empty-set{
  text-align: center;
  padding: var(--space-2);
  background: var(--background-color-tertiary);
}