<main class="register-form">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card bg-light">
                    <article class="card-body">
                        <h4 class="card-title text-center mb-4 mt-1">Sign up</h4>
                        <hr>
                        
                        <form class="form" [formGroup]="insertForm" (ngSubmit)="onSubmit()">
                            <div class="form-group">
                                <label for="EmailAddress">Email Address</label>
                                <span class="text-danger"> *</span>
                                <input formControlName="EmailAddress" type="text" class="form-control" placeholder="" [class.invalid]="EmailAddress.touched && EmailAddress.invalid" [class.valid]="EmailAddress.valid" required autofocus>
                                <div *ngIf="EmailAddress.touched && EmailAddress.errors" class="text-danger">
                                    <span *ngIf="EmailAddress.errors?.email">Please provide valid email.</span>
                                </div>
                            </div> <!-- form-group// -->

                            <div class="form-group">
                                <label for="Username">Username</label>
                                <span class="text-danger"> *</span>
                                <input formControlName="Username" type="text" class="form-control" placeholder=""[class.invalid]="Username.touched && Username.invalid" [class.valid]="Username.valid" required>
                                <div *ngIf="Username.touched && Username.errors" class="text-danger">
                                    <span *ngIf="Username.errors?.minLength">Minimum 5 character</span>
                                    <span *ngIf="Username.errors?.maxlength")>Maximum 10 character</span>
                                </div>
                            </div>
                            

                            <div class="form-group">
                                <label for="Password">Password</label>
                                <span class="text-danger"> *</span>
                                <input formControlName="Password" type="password" class="form-control" placeholder="" [class.invalid]="Password.touched && Password.invalid" [class.valid]="Password.valid" required>
                                <div *ngIf="Password.touched && Password.errors" class="text-danger">
                                    <span *ngIf="Password.errors?.minLength">Minimum 5 character</span>
                                    <span *ngIf="Password.errors?.maxlength")>Maximum 10 character</span>
                                </div>
                            </div> <!-- form-group// -->

                            <div class="form-group">
                                <label for="ConfirmPassword">Confirm Password</label>
                                <span class="text-danger"> *</span>
                                <input formControlName="ConfirmPassword" type="password" class="form-control" placeholder="" [class.invalid]="ConfirmPassword.touched && ConfirmPassword.invalid" [class.valid]="ConfirmPassword.valid" required>
                                <div *ngIf="ConfirmPassword.touched && ConfirmPassword.errors" class="text-danger">
                                    <span *ngIf="ConfirmPassword.errors?.mustMatch">Password Must Match</span>
                                </div>
                            </div> <!-- form-group// -->

                            <div class="form-group">
                                <button type="submit" class="btn btn-success btn-block" value="Submit" [disabled]="insertForm.invalid">Register</button>
                            </div> <!-- form-group// -->                                                           
                        </form>
                    </article>
                </div>
            </div> <!-- card.// -->
        </div>

        <div class="row justify-content-center mt-4">
            <div class="col-md-8">
                <div class="card">
                    <article class="card-body">
                        <div class="text-center">
                            <p class ="d-inline">Already have an account? </p>
                            <a href="">Sign in</a>
                        </div>
                        
                    </article>
                </div> <!-- card.// -->
            </div>
        </div>
    </div> 
</main>

