<main class="login-form">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <article class="card-body">
                        <h4 class="card-title text-center mb-4 mt-1">Sign in</h4>
                        <hr>
                        <div class="text-center alert alert-warning alert-dismissible" *ngIf="invalidLogin" role="alert">
                            <strong>{{ErrorMessage}}</strong>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>  
                        <form class="login-form form" [formGroup]="insertForm" (ngSubmit)="onSubmit()">
                            <div class="form-group">
                                <label for="Username" class="text-uppercase">Username</label>
                                <input formControlName="Username" type="text" class="form-control" placeholder="" required autofocus>
                                <div *ngIf="Username.touched && Username.errors" class="errorMessage">
                                    <span *ngIf="Username.hasError('required')" class="text-danger">Username is required</span>
                                </div>
                            </div> <!-- form-group// -->

                            <div class="form-group">
                                <a class="float-right" href="#">Forgot?</a>
                                <label for="Password" class="text-uppercase">Password</label>
                                <input formControlName="Password" type="password" class="form-control" placeholder="" required autofocus>
                                <div *ngIf="Password.touched && Password.errors" class="errorMessage">
                                    <span *ngIf="Password.hasError('required')" class="text-danger">Password is required</span>
                                </div>
                            </div> <!-- form-group// --> 

                            <div class="form-group">
                                <button type="submit" class="btn btn-success btn-block" value="Submit" [disabled]="insertForm.invalid">Login</button>
                            </div> <!-- form-group// -->                                                           
                        </form>
                    </article>
                </div> <!-- card.// -->
            </div>
        </div>

        <div class="row justify-content-center mt-4">
            <div class="col-md-8">
                <div class="card">
                    <article class="card-body">
                        <div class="text-center">
                            <p class ="d-inline">Don't have an account? </p>
                            <a href="">Sign Up</a>
                        </div>
                        
                    </article>
                </div> <!-- card.// -->
            </div>
        </div>
    </div>
</main>
