.input-file {
    margin: 1rem 0 0 1rem;
}
table.minimalistBlack {  
    display: block;
    margin: 1rem auto;
    width: 98%;  
    text-align: left;
    position: relative;
    overflow: auto;
    height: 775px;
}  
  
table.minimalistBlack td,  
table.minimalistBlack th {  
    border: 1px solid #000;  
    padding: 5px 4px  
}  
  
table.minimalistBlack tbody td {  
    font-size: 13px  
}  
  
table.minimalistBlack thead th {  
    font-size: 15px;  
    font-weight: 700;  
    color: #000;  
    text-align: left;
    position: sticky;
    top: 0;
    background: #cfcfcf;  
    background: -moz-linear-gradient(top, #dbdbdb 0, #d3d3d3 66%, #cfcfcf 100%);  
    background: -webkit-linear-gradient(top, #dbdbdb 0, #d3d3d3 66%, #cfcfcf 100%);  
    background: linear-gradient(to bottom, #dbdbdb 0, #d3d3d3 66%, #cfcfcf 100%);
}  
  
table.minimalistBlack tfoot {  
    font-size: 14px;  
    font-weight: 700;  
    color: #000;  
    border-top: 3px solid #000  
}  
  
table.minimalistBlack tfoot td {  
    font-size: 14px  
}  