<div class="csv-container">
  <div class="data-table-card">
    <p-table #table
             [value]="loadedData"
             [(selection)]="selectedData"
             [tableStyle]="{'min-width': '100%'}"
             [resizableColumns]="true"
             styleClass="p-datatable-gridlines csv-datatable"
             [scrollable]="true"
             scrollHeight="100%"
             [rows]="50"
             [paginator]="true"
             [loading]="loading"
             [rowsPerPageOptions]="[10, 25, 50]"
             [showCurrentPageReport]="true"
             currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
             [filterDelay]="0"
             [globalFilterFields]="selectedColumns"
             [columns]="selectedColumns"
             [reorderableColumns]="true"
             (onSort)="resetSelectedData($event)"
             (onFilter)="resetSelectedData($event)">

      <ng-template pTemplate="caption">
        <div class="table-controls">
          <div class="table-header">
            <div class="header-filters">
              <!-- Clear -->
              <button type="button"
                      class="btn btn-sm btn-outline-secondary"
                      (click)="clear(table)"
                      title="Clear filters">
                <i class="pi pi-filter-slash" aria-hidden="true"></i>
                <span>Clear Filters</span>
              </button>

              <!-- Search -->
              <span class="p-input-icon-left table-search">
                <i class="pi pi-search"></i>
                <input #searchFilter
                       pInputText
                       type="text"
                       placeholder="Search all columns..."
                       (input)="applyFilterGlobal($event, 'contains')"
                       class="search-input" />
              </span>
            </div>

            <div class="header-actions">
              <p-multiSelect [options]="cols"
                             [(ngModel)]="selectedColumns"
                             selectedItemsLabel="{0} columns selected"
                             [style]="{'min-width': '200px'}"
                             placeholder="Select Columns"
                             [showToggleAll]="true"
                             class="column-selector">
                <ng-template let-item pTemplate="selectedItem">{{item}}</ng-template>
                <ng-template let-item pTemplate="item">{{item}}</ng-template>
              </p-multiSelect>

              <button type="button"
                      class="btn btn-primary"
                      (click)="toggleModalVisualizeData()"
                      title="Visualize selected data">
                <i class="pi pi-chart-bar mr-2" aria-hidden="true"></i>
                Visualize
              </button>
            </div>
          </div>
        </div>
      </ng-template>

      <ng-template pTemplate="header" let-columns>
        <tr>
          <th style="width: 3rem" class="checkbox-col" pResizableColumn>
            <p-checkbox [(ngModel)]="checked"
                        [binary]="true"
                        (onChange)="onCheckboxClick($event)">
            </p-checkbox>
          </th>

          <th *ngFor="let column of columns"
              [pSortableColumn]="column"
              pResizableColumn
              pReorderableColumn
              class="data-header">
            <div class="header-content">
              <span class="column-name">{{column}}</span>
              <div class="header-icons">
                <p-sortIcon field="{{column}}"></p-sortIcon>
                <p-columnFilter [type]="columnDataTypes[column]"
                                [field]="column"
                                display="menu"
                                class="ml-auto">
                </p-columnFilter>
              </div>
            </div>
          </th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-item let-columns="columns">
        <tr>
          <td class="checkbox-col">
            <p-tableCheckbox [value]="item"></p-tableCheckbox>
          </td>
          <td *ngFor="let col of columns" class="data-cell">
            <span class="cell-content">{{ item[col] }}</span>
          </td>
        </tr>
      </ng-template>

    </p-table>

    <div class="table-footer">
      <button type="button"
              class="btn btn-success"
              (click)="seeSelectedData()"
              [disabled]="!selectedData || selectedData.length === 0"
              title="Export selected rows to CSV">
        <i class="pi pi-download mr-2" aria-hidden="true"></i>
        Export Data
      </button>
    </div>
  </div>
</div>

<ng-template #visualizeDataModal>
  <app-visualize-data [cols]="selectedColumns"
                      (closeModalEvent)="closeModalVisualizeData()"
                      [data]="(!selectedData || selectedData.length===0) ? tableData : selectedData"
                      [columnDataTypes]="columnDataTypes">
  </app-visualize-data>
</ng-template>
