<div class="container-fluid background">
	<div class="row-fluid">
    <div class="row">
      <div class="col-lg-12 bg-navy">
        <div class="container">
          <div class="row justify-content-center">
            <div class="container my-3">
              <div class="row justify-content-center">
                <div class="col-lg-4 col-md-7 col-sm-12 mb-4">
                  <div class="card bg-theme">
                    <div class="card-body">
                      <h4 class="text-center"><i class="fa fa-lock fa-4x"></i></h4>
                      <h4 class="text-center">Resend Verification Email</h4>
                      <p class="text-center">You can verify here.</p>
                      <div class="panel-body">
                        <form [formGroup]="emailform" id="register-form" role="form" autocomplete="off" class="form" method="post">
                          <div class="form-group" >
                            <div class="input-group">
                              <span class="input-group-addon"><i class="glyphicon glyphicon-envelope color-blue"></i></span>
                              <input formControlName="EmailAddress" placeholder="Email address" class="form-control" type="email">
                            </div>
                          </div>
                          <div class="form-group mb-0">
                            <input name="recover-submit" (click)="sendReverifyLink()" class="btn btn-primary-new btn-block" value="Send link" type="submit">
                          </div>
                          <input type="hidden" class="hide" name="token" id="token" value=""> 
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
	</div>
</div>



