<!-- Footer Start -->
<footer class="bg-shell app-footer">
  <div class="container-fluid footer-inner">
    <div class="footer-bar">
      <!-- Left: links -->
      <nav class="footer-left" aria-label="Footer links">
        <a class="footer-link nav-interactive" [routerLink]="['/contactus']">Contact</a>
        <a class="footer-link nav-interactive" [routerLink]="['/aboutus']">About</a>
      </nav>

      <!-- Center: copyright -->
      <div class="footer-center">
        Powered by &copy; {{ currentYear }} AnalySim
      </div>

      <!-- Right: connect -->
      <nav class="footer-right" aria-label="Footer social links">
        <a class="footer-icon" [routerLink]="['/aboutus']">
          <img src="../../assets/img/icon-facebook.png" alt="Facebook" />
        </a>
        <a class="footer-icon" [routerLink]="['/aboutus']">
          <img src="../../assets/img/icon-linkedin.png" alt="LinkedIn" />
        </a>
        <a class="footer-icon" [routerLink]="['/aboutus']">
          <img src="../../assets/img/icon-twitter.png" alt="Twitter" />
        </a>
      </nav>
    </div>
  </div>
</footer>
<!-- Footer End -->