@import "src/assets/styles/abstracts/mixins";

.footer-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--space-3);

  /* reduce “tall footer” feeling */
  padding: var(--space-3);
  min-height: 48px;
}

.footer-left,
.footer-right {
  display: flex;
  align-items: center;
  font-size: medium;
}

.footer-right{
  gap: var(--space-2)
}

.footer-left {
  flex-wrap: wrap;
  gap: var(--space-3)
}

.footer-center {
  text-align: center;
  line-height: 1.2;
  font-size: var(--fs-14);
  opacity: 0.9;
  white-space: nowrap;
  flex: 1;
  font-size: medium;
}

.footer-right img {
  @include media-square(32px);
}

/* Mobile */
@media (max-width: 575.98px) {
  .footer-bar {
    flex-direction: column;
    align-items: flex-start;
    gap: var(--space-2);
  }

  .footer-center {
    white-space: normal;
  }
}