<!-- Footer Start -->
<footer class="bg-footer pt-3 text-white">
    <!-- Footer Links Start-->
    <div class="container-fluid text-right text-md-left">
      <!-- Grid row Start-->
      <div class="row">
        <!-- Grid column Start-->
        <div class="col-md-6 mt-md-0 mt-3">
          <!-- Content -->
          <!-- <h5 class="text-uppercase">Analysim</h5> -->
        </div>  <!-- Grid column End-->

        <div class="col-md-3 mb-md-0 mb-3">
          <!-- Extra column for links goes here -->
        </div>

        <div class="col-md-3 mb-md-0 mb-3">
          <!-- Links Start-->
          <ul class="list-unstyled">
            <li>
              <a class="nav-link text-white" [routerLink]='["/contactus"]' >Contact Us</a>
            </li>
            <li>
              <a class="nav-link text-white" [routerLink]='["/aboutus"]'>About</a>
            </li>
          </ul> <!-- Links End-->
        </div>
        <!-- Grid column -->
      </div> <!-- Grid row End-->
    </div> <!-- Footer Links End-->

    <!-- Copyright Start -->
    <div class="footer-copyright p-2">Analysim&copy; 2020 
    </div> <!-- Copyright End-->
  </footer> <!-- Footer End-->
