.bg-footer {
    background-color: var(--background-color-secondary);
  }
  


.row{
line-height: 0px;
}
.nav-link:hover {
    color: #4140aa !important;
    transition: 0.3s;
  }

.nav-link text-white{
    position: relative;
    right: 92.5px;
    top: 15px;
}

.nav-link text-white{
    position: relative;
top: 5px;
right: 92.5px;
}

.footer-link-row {
    padding: 10px 0px;

    .footer-header {
        height: 19px;
        line-height: 14px;
        margin-bottom: 15px;
        font-weight: 500;
        font-size: 18 px;
        width: min-content; 
        font-weight: bold;
    }

    ul {
        @media (max-width: 576px) {
            margin-bottom: 0px;
        }
    }

    li {
        margin-bottom: 10px;

        a {
            line-height: 16px;
            padding: 0px;
        }
    }

    .footer-sponser {
        img {
            width: 28px;
            height: 28px;
        }
    }

    .footer-about {
        text-align: left;
    }

    .footer-connect {

        ul {
            display: flex;
            img {
                width: 32px;
                height: 32px;
            }
        }
    }
}

.footer-logo-row {
    .col-md-10 {
        display: flex;
        border-top: 1px solid white;
        padding-top: 10px;

        div {
            line-height: 16px;
        }
        .footer-copyright {
            margin-left: auto
        }
        .footer-logo{
            text-align: center;
            width: 100%;
        }
    }
}