<!-- <footer class="bg-footer p-2 text-white">
    Analysim&copy; 2020 
</footer> -->



<!-- Footer -->
<footer class="bg-footer pt-3 text-white">

    <!-- Footer Links -->
    <div class="container-fluid text-right text-md-left">
  
      <!-- Grid row -->
      <div class="row">
  
        <!-- Grid column -->
        <div class="col-md-6 mt-md-0 mt-3">
  
          <!-- Content -->
          <!-- <h5 class="text-uppercase">Analysim</h5> -->
  
        </div>
        <!-- Grid column -->
  

  
        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">
  
          <!-- Links -->
          <ul class="list-unstyled">
            <li>
              <a class="nav-link text-white" [routerLink]='["/aboutus"]'>About</a>
            </li>
          </ul>
  
        </div>
        <!-- Grid column -->
  
        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">
  
          <!-- Links -->
          <ul class="list-unstyled">
            <li>
              <a class="nav-link text-white" [routerLink]='["/contactus"]' >Contact Us</a>
            </li>
          </ul>
  
        </div>
        <!-- Grid column -->
  
      </div>
      <!-- Grid row -->
  
    </div>
    <!-- Footer Links -->
  
    <!-- Copyright -->
    <div class="footer-copyright p-2">Analysim&copy; 2020 
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->
