<div class="container mt-5 h-100">
    <div class="card">
        <!-- Card Header Start -->
        <div class="d-flex card-header flex-row align-items-center">
            <!-- File Route Start -->
            <span>File</span>
            <!-- File Route End -->
    
            <!-- File Explorer Button Start -->
            <div class="d-inline-flex ml-auto">
                <!-- Modify File Button Group Start -->
                <div class="btn-group mr-3"  role="group">
                    <button class="btn btn-secondary" type="button">
                        <i class="fa fa-folder-plus"></i>
                    </button>
                    <button class="btn btn-secondary" type="button">
                        <i class="fa fa-edit"></i>
                    </button>
                    <button class="btn btn-secondary" type="button">
                        <i class="fa fa-arrows-alt"></i>
                    </button>
                    <button class="btn btn-secondary" type="button">
                        <i class="fa fa-copy"></i>
                    </button>
                    <button class="btn btn-secondary" type="button">
                        <i class="fa fa-trash"></i>
                    </button>
                </div>
                <!-- Modify File Button Group End -->
                   
                <!-- Network File Button Group Start -->
                <div class="btn-group"  role="group">
                    <button class="btn btn-secondary" type="button">
                        <i class="fa fa-sync"></i>
                    </button>
                    <button class="btn btn-secondary" type="button">
                        <i class="fa fa-download"></i>
                    </button>
                    <button class="btn btn-secondary" type="button">
                        <i class="fa fa-upload"></i>
                    </button>
                </div>  
                <!-- Network File Button Group End -->         
            </div>
            <!-- File Explorer Button End -->
        </div>
        <!-- Card Header End -->
        <div class="card-body">
            <table class="table">
                <tr>
                    
                </tr>
            </table>
        </div>
      </div>
</div>