.btn {
    color: var(--button-font-color);
    background-color: var(--button-background-color);
    border: none;
    border: 1px solid var(--button-background-color);

    &:hover, &:active {
        color: var(--button-font-color-secondary-hov) !important;
        background-color: var(--button-background-color-secondary-hov) !important;
        border: var(--button-border-width) var(--button-border-style) var(--button-border-color-secondary-hov) !important;
        text-decoration: none;
    }
}

.project-authors-list {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0px;
    margin: 0px;

    .project-author {
      display: flex;
      cursor: pointer;
      margin-right: 10px;

      &:hover {
        .project-author-name {
          color: #0056b3;
          text-decoration: underline;
        }
      }

      .project-author-thumbnail {
        width: 25px;
        height: 25px;
        border: 1px solid black;
        border-radius: 40px;
        margin-right: 5px;
        margin-bottom: 10px;
      }
    }
  }