<td class="align-middle text-center col-md-1">
    <div *ngIf="uploadFileItem.uploadStatus == 'loading'" class="spinner-border spinner-border-sm" role="status">
        <span class="sr-only"></span>
    </div>
    <a *ngIf="uploadFileItem.uploadStatus == 'success'">
        <i class="fa fa-check alt fa-lg text-success"></i>
    </a>
    <a *ngIf="uploadFileItem.uploadStatus == 'error'">
        <i class="fa fa-exclamation-triangle alt fa-lg text-danger"></i>
    </a>
</td>
<td class="align-middle col-md-12">
    {{uploadFileItem.directory + uploadFileItem.file.name}}
</td>
<td class="align-middle text-center col-md-1">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="removeFile()">
        <i class="fa fa-times alt fa-lg text-danger"></i>
    </button>
</td>