<!-- Modal -->
<!-- <div class="modal-content">
    <div class="modal-header justify-content-center">
        <h5 class="modal-title">Upload Progress</h5>
    </div>
    <div class="modal-body p-0">
        <table class="table mb-0" *ngIf="uploadFileList.length > 0 ? true : uploadModalRef.hide();">
            <tr *ngFor="let fileItem of uploadFileList">
                <app-modal-upload-item [uploadFileItem]="fileItem" (uploadedFile)="uploadedFile($event)" (updatedFile)="updateFileUpload($event)" (removedFile)="removeFileUpload($event)"></app-modal-upload-item>
            </tr>
        </table>
    </div>
    <div class="modal-footer justify-content-center">
        <button type="button" class="btn btn-secondary" (click)="uploadModalRef.hide()">Close</button>
    </div>
</div> -->