ConnectionStrings__DBConnectionString=User ID=analysim;Password=replace-with-a-long-random-password;Server=postgres;Port=5432;Database=analysim;Pooling=true;SSL Mode=Require;Trust Server Certificate=true
JwtSettings__Issuer=AnalySim
JwtSettings__Audience=https://dev.analysim.tech
JwtSettings__Secret=replace-with-a-long-random-secret
ClientSettings__BaseUrl=https://dev.analysim.tech
EmailSettings__Server=smtp.example.com
EmailSettings__Port=587
EmailSettings__SenderName=no-reply-analysim
EmailSettings__SenderEmail=no-reply@example.com
EmailSettings__Username=replace-with-email-username
EmailSettings__Password=replace-with-email-password
UserQuota=100000000
