.modal-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fadeIn 0.3s ease-in-out;
    z-index: 4;
}

.modal-content {
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    width: 80%;
    animation: slideIn 0.3s ease-in-out;
}

.modal-content p {
    font-size: 25px;
    margin-bottom: 20px;
}

button {
    background-color: #0a090981;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    margin: 0 10px;
    width: max-content;
}

.button-css {
    display: flex;
    justify-content: space-evenly;
}

button:hover {
    background-color: #110a0acf;
}

button:first-of-type {
    background-color: #3769d4;
}

button:first-of-type:hover {
    background-color: #1541af;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes slideIn {
    from {
        transform: translateY(-20px);
    }

    to {
        transform: translateY(0);
    }
}