<nav>
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link" routerLink="notebooks" routerLinkActive="active">Notebooks</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="users" routerLinkActive="active">Users</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="datasets" routerLinkActive="active">Datasets</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="projects" routerLinkActive="active">Projects</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="comments" routerLinkActive="active">Comments</a>
    </li>
  </ul>
</nav>
<div class="p-3">
  <router-outlet></router-outlet>
</div>