
<div class="container-fluid background">
    <div class="row-fluid">
        <div class="row">
            <div  class="col-lg-12 bg-navy">
                <div class="container">
                    <!-- Row Start -->
                    <div class="row justify-content-center">
                        <!-- Container Start -->
                        <div class="container my-3 ">
                            <!-- Row Start -->
                            <div class="row justify-content-center">
                                <!-- Column Start -->
                                <div class="col-lg-4 col-md-7 col-sm-12 mb-4">
                                    <!-- Card Start -->
                                    <div class="card bg-theme">
                                        <div class="card-body">
                                            <!-- Card Title -->
                                            <h4 class="card-title text-center mb-4 mt-1">Sign in</h4>
                                            <hr>
                        
                                            <!-- Login Form Error -->
                                            <div class="text-center alert alert-warning alert-dismissible" *ngIf="invalidLogin" role="alert">
                                                <strong>{{errorMessage}}</strong>
                                                <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="invalidLogin = null;">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                        
                                            <!-- Login Form Start -->
                                            <form class="form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                                                <!-- Form Username -->
                                                <div class="form-group">
                                                    <label for="username">Username</label>
                                                    <input formControlName="username" type="text" class="form-control" placeholder="" required [readOnly]="isLoading">
                                                    <div *ngIf="username.touched && username.errors" class="errorMessage">
                                                        <span *ngIf="username.hasError('required')" class="text-danger">Username is required</span>
                                                    </div>
                                                </div>
                        
                                                <!-- Form Password -->
                                                <div class="form-group">
                                                    <a class="float-right" href="javascript:void(0);" [routerLink]='["/emailForgotPass"]'>Forgot?</a>
                                                    <label for="password">Password</label>
                                                    <input formControlName="password" type="password" class="form-control" placeholder="" required [readOnly]="isLoading">
                                                    <div *ngIf="password.touched && password.errors" class="errorMessage">
                                                        <span *ngIf="password.hasError('required')" class="text-danger">Password is required</span>
                                                    </div>
                                                </div>
                        
                                                <!-- Form Login-->
                                                <div class="form-group">
                                                    <button type="submit" class="btn btn-primary-new btn-block" value="Submit" [disabled]="loginForm.invalid">
                                                        <div *ngIf="!isLoading">
                                                            <span>Login</span>
                                                        </div>
                                                        <div *ngIf="isLoading" class="spinner-border" role="status">
                                                            <span class="sr-only"></span>
                                                        </div>
                                                    </button>
                                                </div>                                                          
                                            </form> <!-- Login Form End -->
                                        </div>
                                    </div> <!-- Card Start -->
                                </div> <!-- Column Start -->
                            </div> <!-- Row End -->
                        </div>
                    </div>
                    <!-- Row Start -->
                    <div class="row justify-content-center">
                        <div class="col-lg-4 col-md-7 col-sm-12 mb-4">
                            <div class="card bg-theme">
                                <article class="card-body">
                                    <div class="text-center">
                                        <p class ="d-inline">Don't have an account? </p>
                                        <a [routerLink]='["/register"]' [queryParams]="{returnUrl: returnUrl}" *ngIf="returnUrl != ''">Sign Up</a>
                                        <a [routerLink]='["/register"]' *ngIf="returnUrl == ''">Sign Up</a>
                                    </div>
                                </article>
                            </div> <!-- card.// -->
                        </div>
                    </div>  <!-- Row End -->
                </div>  <!-- Container End -->
            </div>
        </div>
    </div>
</div>
     
<ng-template #loadingModal>
    <div class="modal-header">
        <div class="spinner-border" role="status">
            <span class="sr-only"></span>
        </div>
    </div>
</ng-template>