#login{
    background-color:  rgb(226, 234, 247);
}
.btn-navy{
    background-color: #0c1a34;
    color: #FFF;
}

.bg-navy {
  background-color: var(--primary-color);
  /* background-image: linear-gradient(#0c1a34,#102958); */
}

.background{
    background-color: var(--primary-color);
    box-sizing: border-box;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card {
    background-color: var(--background-color-tertiary);
}

:host {
  height: 100%;
}
