<div class="modal-content load-notebook-modal surface-soft">
  <div class="modal-header modal-header--center">
    <h5 class="modal-title">Load Observable Notebook</h5>
  </div>

  <form class="form" [formGroup]="notebookForm" (ngSubmit)="onSubmit()">
    <div class="modal-body">
      <div class="form-group">
        <label for="notebookLink">Notebook Link</label>

        <input
          id="notebookLink"
          formControlName="notebookLink"
          type="text"
          class="form-control"
          [class.invalid]="notebookLink.touched && notebookLink.invalid"
          [class.valid]="notebookLink.valid"
          [readOnly]="isLoading"
          required
        />

        <div *ngIf="notebookLink.touched && notebookLink.errors" class="text-danger">
          <span [hidden]="!notebookLink.errors?.['fromObservable']">
            URL must be from ObservableHQ
          </span>
          <span [hidden]="!notebookLink.errors?.['isValidURL']">
            Not a valid URL
          </span>
        </div>
      </div>
    </div>

    <div class="modal-footer">
      <button
        type="button"
        class="btn btn-outline-primary"
        (click)="closeModal()"
      >
        Close
      </button>

      <button
        type="button"
        class="btn btn-primary"
        (click)="usePreset()"
      >
        Use Preset
      </button>

      <button
        type="submit"
        class="btn btn-primary"
        [disabled]="notebookLink.invalid || isLoading"
      >
        <span>Load Notebook</span>
      </button>
    </div>
  </form>
</div>