.load-notebook-modal {
  .modal-body {
    display: flex;
    flex-direction: column;
    gap: var(--space-3);
  }

  .form-group {
    margin-bottom: 0;
  }

  .form-group label {
    display: inline-block;
    margin-bottom: var(--space-2);
    font-weight: 600;
  }

  .text-danger {
    margin-top: var(--space-1);
    font-size: var(--fs-14);
  }

  .text-danger span {
    display: block;
  }
}