<li
  class="list-group-item file-item"
  [class.is-selected]="isSelected"
  (click)="selectItem()"
  (dblclick)="navigate()"
>
  <div class="file-row">
    <div class="file-left">
      <i
        class="fa file-icon"
        [ngClass]="
          blobFileItem.type === 'folder'
            ? 'fa-folder'
            : blobFileItem.type === 'none'
              ? 'fa-arrow-left'
              : 'fa-file'
        "
        aria-hidden="true"
      ></i>

      <a
        class="file-link"
        (click)="navigate(); $event.stopPropagation()"
        [attr.title]="
          blobFileItem.type === 'none'
            ? 'Back'
            : blobFileItem.type === 'folder'
              ? 'Open folder'
              : 'Open file'
        "
      >
        {{ blobFileItem.type === "none" ? "Back" : blobFileItem.name }}
      </a>
    </div>

    <div class="file-right" *ngIf="blobFileItem.type === 'file'">
      <span class="file-meta" aria-label="Last updated">{{ timeSince }}</span>

      <button
        type="button"
        class="btn btn-primary"
        title="Get Shareable Link"
        aria-label="Get Shareable Link"
        (click)="displayShareableLink(); $event.stopPropagation()"
      >
        <i class="fa fa-link" aria-hidden="true"></i>
      </button>
    </div>
  </div>
</li>
