<!-- Modal -->
<div class="modal-content">
    <div class="modal-header justify-content-center">
        <h5 class="modal-title">Create Folder</h5>
    </div>

    <!-- Register Form Start -->
    <form class="form" [formGroup]="folderForm" (ngSubmit)="onSubmit()">
        <div class="modal-body">
            <!-- Form Group Username -->
            <div class="form-group">
                <label for="folderName">Folder Name:</label>
                <input formControlName="folderName" type="text" class="form-control" placeholder=""[class.invalid]="folderName.touched && folderName.invalid" [class.valid]="folderName.valid" [readOnly]="isLoading" required>
                <div *ngIf="folderName.touched && folderName.errors" class="text-danger">
                    <span [hidden]="!folderName.errors?.minlength">Minimum 1 character</span>
                    <span [hidden]="!folderName.errors?.maxlength">Maximum 20 character</span>
                    <span [hidden]="!folderName.errors?.noMatch">Folder Already Exist</span>
                    <span [hidden]="!folderName.errors?.noSpaceSpecial">No Space or Special Character</span>
                </div>
            </div>
        </div>
        <div class="modal-footer justify-content-center">
            <!-- Form Group Register -->
            <div class="form-group">
                <button type="submit" class="btn btn-success" value="Submit" [disabled]="folderName.invalid">
                    <div *ngIf="!isLoading">
                        <span>Create</span>
                    </div>
                    <div *ngIf="isLoading" class="spinner-border" role="status">
                        <span class="sr-only"></span>
                    </div>
                </button>
            </div>
            <button type="button" class="btn btn-secondary" (click)="closeModal()">Close</button>
        </div>
    </form> <!-- Register Form End -->
</div>