<h4 class="card-title text-center mb-4 mt-1">delete project confirmation</h4>

<!-- Click to close -->
<div class="form-group mb-0">
    <button type="button" class="btn btn-success btn-block" (click)="closeCancelPopUp()">
        <span>
            Cancel
        </span>
    </button>              
</div>

<!-- Confirm Deletion of Project-->
<div class="form-group mb-1">
    <button type="button" class="btn btn-danger btn-block" (click)="confirmDeletePopUp()">
        <span>
            Delete Project
        </span>
    </button>              
</div>




