<!-- Container Start -->
<div class="container my-5">
    <!-- Row Start -->
    <div class="row">
        <!-- Profile Description Column Start -->
        <div class="col-md-4">
            <div class="row mb-3">
                <app-dashboard-quickstart ></app-dashboard-quickstart>
            </div>
            <div class="row">
                <app-dashboard-following></app-dashboard-following>
            </div>
        </div> <!-- Profile Description Column End -->
        <!-- Profile Follow List Column Start -->
        <div class="col-md-8">
            <app-dashboard-social></app-dashboard-social>
        </div> <!-- Profile Follow List Column End -->
    </div> <!-- Row End -->
</div> <!-- Container End -->
    
