<!-- Header -->
<header class="header py-5 mb-5">
    <!-- Container Start -->
    <div class="container h-100">
      <!-- Row Start -->
      <div class="row h-100 align-items-center">
        <!-- Column Header Start -->
        <div class="col-lg-12">    
          <h1 class="display-4 text-white mt-5 mb-2">AnalySim</h1>
          <p class="header-text mb-5 text-white">AnalySim is a data sharing platform that seek to simplify the visualization of dataset. Collaborate together and host your data to the world, or browser through our multiple user generated project</p>
        </div> <!-- Column Header End -->
      </div> <!-- Row End -->
    </div> <!-- Container End -->
  </header> <!-- Header End -->
  
<!-- Page Content Start -->
<div class="container-fluid lead">
    <!-- Row Description Start -->
    <div class="row p-3 mt-5 mb-2 justify-content-center">
        <!-- Website Description -->
        <div class="col-md-8">
            <h2>Our Aim</h2>
            <hr>
            <p class="lead">We aim to support the scientific community by providing collaboration tools for analyzing large-scale datasets with many parameter dimensions. This project started in 2016.</p>
        </div>
    </div>
    <!-- Row Description Start -->
    <div class="row p-3 mb-3 justify-content-center">
        <!-- Website Description -->
        <div class="col-md-8">
            <h2>Team</h2>
            <hr>
            <h5>Supervisors</h5>
            <ul>
                <li>Cengiz Gunay, PhD</li>
                <li>Anca Doloc-Mihu, PhD</li>
            </ul>
            <h5>Current Member</h5>
            <ul>
                <li>Hieu Dinh</li>
                <li>Joshua Walton</li>
                <li>Anthony Morariu</li>
            </ul>
            <h5>Previous Contributors</h5>
            <ul>
                <li>Anthony D'Allesandro</li>
                <li>Joshua Broughton</li>
                <li>Elizabeth Haynie</li>
                <li>Kidus Debesai</li>
                <li>Edgar J. Cabrera</li>
                <li>Don C. Sugatapala</li>
            </ul>
            <h5>Presentation</h5>
            <ul>
                <li>Elizabeth Haynie, Kidus Debesai, Edgar Juarez Cabrera, Anca Doloc-Mihu, Cengiz Gunay. “NeuroViz: A web platform for visualizing and analyzing neuronal databases” 28th Annual Computational Neuroscience Meeting: CNS*2019. BMC Neuroscience 2019, 20(Suppl 1):P108.<br>
                    <a href="https://doi.org/10.1186/s12868-019-0538-0">https://doi.org/10.1186/s12868-019-0538-0</a>
                </li>
                <li> Hieu Dinh, Joshua Walton, Anthony Morariu, Cengiz Gunay, Anca Doloc-Mihu. “Analysim.tech: A data sharing site for crowdsourcing analysis of parameter-search datasets” in the Tutorial #6: Methods from Data Science for Model Simulation, Analysis, and Visualization at the 29th Annual Computational Neuroscience Meeting (CNS*2020), Online, on July 18th, 2020.<br>
                    <a href="https://ocns.memberclicks.net/cns-2020-tutorials#T6">https://ocns.memberclicks.net/cns-2020-tutorials#T6</a><br>
                    <a href="https://www.cnsorg.org/cns-2020">https://www.cnsorg.org/cns-2020</a><br>
                    <a href="https://cengique.github.io/cns2020-tutorials-website/tutorial.html">https://cengique.github.io/cns2020-tutorials-website/tutorial.html</a><br>
                </li>           
            </ul>
        </div>
    </div>
</div> <!-- Row Description End -->
