<div class="project-card-container" *ngIf="project != undefined">
  <div class="project-card-header">
    <!-- Project Route Link -->
    <span class="project-user" *ngIf="(project.route | route:'owner') as owner">
      <a [routerLink]='["/profile/" + owner]'>{{project.route | route:"owner"}}</a>
    </span>
    <span class="project-seperator">/</span>
    <span class="project-name" *ngIf="(project.route | route:'projectname') as projectname">
      <a [routerLink]='["/project/" + (project.route | route:"owner") + "/" + projectname]'>{{ projectname }}</a>
    </span>

    <!-- Follow/UnFollow Project -->
    <div class="project-follow-option">
      <!-- Follow Project Button -->
      <button class="project-follow" type="button" *ngIf="!isFollowing" (click)="followProject()">
        Follow
        <span class="badge badge-light font-weight-light ml-1">
          {{ project | role:"follower" }}
        </span>
      </button>

      <!-- UnFollow Project Button -->
      <button class="project-unfollow" type="button" *ngIf="isFollowing" (click)="unFollowProject()">
        Unfollow
        <span class="badge badge-light font-weight-light ml-1">
          {{ project | role:"follower" }}
        </span>
      </button>
    </div>
  </div>
  <div class="project-card-body">
    <p class="project-description">{{project.description}}</p>
    <ul class="project-tag-list">
      <li class="project-tag-item">
        <span class="badge badge-pill badge-info font-weight-light mr-2" *ngFor="let projectTag of project.projectTags">
          {{projectTag.tag.name}}
        </span>
      </li>
    </ul>
  </div>
  <div class="project-card-footer">
    <span><i class="project-member fa fa-user"></i>{{ project | role:"member" }}</span>
    <span class="project-last-updated">Last Updated {{ project.lastUpdated | timeElapsed}} Ago</span>
  </div>
</div>
