.project-card-container {
  border: var(--border-width) var(--border-style) var(--border-color);

  .project-unfollow {
    background-color: var(--button-background-color);
    color: var(--primary-color);
    border: none;
  }

  .project-card-header {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    background-color: var(--background-color-tertiary);
    border-bottom: 1px solid rgba(0,0,0,.125);
    display: flex;
    line-height: 24px;
    align-items: center;

    .project-user {
      font-weight: 500;
      line-height: 1.2;
      font-size: 1.25rem;
    }

    .project-name {
      font-weight: 500;
      line-height: 1.2;
      font-size: 1.25rem;
    }

    .project-follow-option {
      margin-left: auto;

      .project-follow {
        color: var(--button-font-color);
        background-color: var(--button-background-color);
        border: var(--button-border-width) var(--button-border-style) var(--button-border-color-secondary);
        padding: 6px 12px;
        font-size: 16px;
        line-height: 1.5;
        border-radius: 4px;
        display: block;
        float: right !important;

        &:hover {
          color: var(--button-font-color-secondary-hov);
          background-color: var(--button-background-color-secondary-hov);
          border: var(--button-border-width) var(--button-border-style) var(--button-border-color-secondary-hov);

          span {
            color: var(--button-font-color);
            background-color: var(--button-background-color-secondary);
            border: var(--button-border-width) var(--button-border-style) var(--button-border-color-secondary);
          }
        }
      }
    }
  }

  .card-header {
    background-color: var(--background-color-tertiary);
  }

  .project-card-body {
    padding: 20px;

    .project-tag-list {
      list-style: none;
      padding: 0px;
    }
  }

  .project-card-footer {
    padding: .75rem 1.25rem;
    background-color: var(--background-color-tertiary);
    border-top: 1px solid var(--background-color-tertiary);

    .project-member {
      margin-right: 10px;
    }

    .project-last-updated {
      float: right !important;
      box-sizing: border-box;
    }
  }
}

a {
  color: var(--button-background-color);
  text-decoration: none;
  background-color: transparent;
}

.badge {
  color: var(--button-background-color) !important;
  margin-left: .25rem !important;
  position: relative;
  top: -1px;
  font-weight: 300 !important;
  display: inline-block;
  border: none;
}

.badge-pill {
  color: var(--primary-color) !important;
  background-color: var(--button-background-color) !important;
  font-weight: 300 !important;
  margin-right: .5rem !important;
  padding-right: .6em;
  padding-left: .6em;
  border-radius: 10rem;
  display: inline-block;
  padding: .25em .4em;
  font-size: 14px;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  box-sizing: border-box;
}