.header{
    background-image: url("../../assets/img/background2.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.header-text{
    font-size: 1.25rem !important;
    font-weight: 400;
}