<main>
  <section class="jumbotron text-center bg-gray">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-8">
          <h1 class="jumbotron-heading">Neuro Sim Hub</h1>
          <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don't simply skip over it entirely.</p>
          <div>
            <a class="btn btn-primary my-2 mr-2" [routerLink]='["/register"]'>Register</a>
            <a href="javascript:void(0);" class="btn btn-secondary my-2" (click)="notfi.showInfo('Not Implemented Yet','Explore Page');">Explore</a>
          </div>
        </div>
      </div>   
    </div>
  </section>
</main>