<!-- Body Start -->
<body>
  <!-- Flex Wrapper Start -->
  <div class =" d-flex flex-column h-100">
    <!-- Flex Header Start -->
    <div class="">
      <app-header></app-header>
    </div>
    <!-- Flex Header End -->

    <!-- Flex Main Content Start -->
    <div class="d-flex flex-column flex-grow-1">
      <router-outlet></router-outlet>
    </div>
    <!-- Flex Main Content End -->

     <!-- Flex Footer Start -->
     <div>
      <app-footer></app-footer>
    </div>
    <!-- Flex Footer End -->
  </div>
</body>
<!-- Body End -->