<div class="container-fluid background">
	<div class="row-fluid">
    <div class="row">
      <div class="col-lg-12 bg-navy">
        <div class="container">
          <div class="row justify-content-center">
            <div class="container my-3">
              <div class="row justify-content-center">
                <div class="col-lg-4 col-md-7 col-sm-12 mb-4">
                  <div class="card bg-theme">
                    <div class="card-body">
                      <h4 class="text-center"><i class="fa fa-lock fa-4x"></i></h4>
                      <h4 class="text-center">Reset Password?</h4>
                      <p class="text-center">You can reset your password here.</p>
                      <div class="panel-body">
                        <form [formGroup]="passform" action="" method="post" name="changePassword">
                          <div class="form-group">
                            <div class="inputDiv">
                              <label class="inputLabel" for="NewPassword">New Password</label>
                              <input formControlName="NewPassword" type="password" id="NewPassword" name="NewPassword" required  class="form-control">
                            </div>
                          </div>
                            
                          <div class="form-group">
                            <div class="inputDiv">
                              <label class="inputLabel" for="passwordConfirm">Confirm Password</label>
                              <input formControlName="passwordConfirm" type="password" id="passwordConfirm" name="passwordConfirm" class="form-control">
                            </div>
                          </div>
                          
                          <div class="buttonWrapper">
                            <button type="submit" id="submitButton" (click)="setNewPassword()" class="btn btn-primary-new btn-block" >
                              <span>Continue</span>
                              <span id="loader"></span>
                            </button>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
	</div>
</div>