<div class="card">
  <div class="d-flex card-header flex-row align-items-center">
    <span class="">Comments</span>
  </div>
  <div class="m-3">
    <div class="mb-4">
      <div *ngIf="!currentUser; else loggedIn" class="login-note">
        Login to leave a comment
      </div>
      <ng-template #loggedIn>
        <app-project-comment-box
          (submitComment)="onPostComment($event)"
        ></app-project-comment-box>
      </ng-template>
    </div>

    <div *ngIf="!isLoading && comments.length === 0">No comments yet.</div>

    <div *ngIf="!isLoading && comments.length > 0">
      <app-project-comment-item
        *ngFor="let comment of comments"
        [id]="comment.commentID.toString()"
        [comment]="comment"
        [adminAnchor]="currentAdminComment"
        (submitReply)="onPostComment($event)"
        (submitEdit)="onPutEdit($event)"
      >
      </app-project-comment-item>
    </div>
  </div>
</div>
