.card-header {
  background-color: var(--primary-color);
  font-size: 18px;
  font-weight: 500;
}

.modal-content {
  background-color: var(--background-color-tertiary);
}

.login-note {
  width: 100%;
  display: flex;
  justify-content: center;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 12px;
}
