<!-- Nav Bar Start -->
<nav class="navbar navbar-expand-md navbar-dark bg-shell navbar-body">
  <!-- Nav Toggle Start -->
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#mainNavbar"
    aria-controls="mainNavbar"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button> <!-- Nav Toggle End -->

  <a class="navbar-brand" (click)="navigateHome()">
    <img src="../../assets/img/AnalySim-Title.png" alt="AnalySim" />
  </a>

  <div id="mainNavbar" class="collapse navbar-collapse">
    <ul class="navbar-nav left-nav mr-auto justify-content-start align-items-center">
      <li class="nav-item">
        <a class="nav-link nav-interactive" [routerLink]="['/explore']" routerLinkActive="border-bottom">
          Explore
        </a>
      </li>

      <li class="nav-item" *ngIf="(loginStatus$ | async)">
        <a class="nav-link nav-interactive" [routerLink]="['/dashboard']" routerLinkActive="border-bottom">
          Dashboard
        </a>
      </li>

      <!-- Search Bar -->
      <li class="nav-item nav-search d-flex align-items-center">
        <form class="form" (ngSubmit)="onSubmit()">
          <div class="input-group input-group-sm search-group">
            <input
              type="text"
              class="form-control"
              placeholder="Search..."
              name="searchTerm"
              [(ngModel)]="searchText"
            />
            <div class="input-group-append">
              <button type="submit" class="btn search-btn">
                <i class="fa fa-search"></i>
              </button>
            </div>
          </div>
        </form>
      </li>
    </ul>

    <!-- Logged out -->
    <ul class="navbar-nav right-nav" *ngIf="!(loginStatus$ | async)">
      <li class="nav-item mr-2">
        <a class="nav-link nav-interactive" [routerLink]="['/register']" routerLinkActive="border-bottom">Register</a>
      </li>
      <li class="nav-item mr-2">
        <a class="nav-link nav-interactive" [routerLink]="['/login']" routerLinkActive="border-bottom">Login</a>
      </li>
    </ul>

    <!-- Logged in -->
    <ul class="navbar-nav right-nav justify-content-start align-items-center" *ngIf="(loginStatus$ | async)">
      <li class="nav-item mr-2" *ngIf="(isAdmin$ | async)">
        <a class="nav-link nav-interactive" routerLink="/admin">
          <i class="fa fa-cogs mr-2"></i> Admin
        </a>
      </li>

      <li class="nav-item dropdown notification-nav-item">
        <a
          class="nav-link nav-interactive notification-trigger"
          href="#"
          id="navbarNotificationMenuLink"
          aria-haspopup="true"
          [attr.aria-expanded]="isNotificationMenuOpen"
          (click)="toggleNotifications($event)"
        >
          <i class="fa fa-bell"></i>
          <span
            class="notification-badge"
            *ngIf="(unreadCount$ | async) as unreadCount"
            [class.d-none]="unreadCount === 0"
          >
            {{ unreadCount > 99 ? "99+" : unreadCount }}
          </span>
        </a>

        <div
          class="dropdown-menu dropdown-menu-right notification-menu"
          [class.show]="isNotificationMenuOpen"
          aria-labelledby="navbarNotificationMenuLink"
        >
          <div class="notification-menu-header">
            <span>Notifications</span>
            <a href="#" (click)="markAllNotificationsRead($event)">Mark all read</a>
          </div>

          <ng-container *ngIf="(notifications$ | async) as notifications">
            <button
              type="button"
              class="dropdown-item notification-item"
              *ngFor="let notification of notifications"
              [class.is-unread]="!notification.isRead"
              (click)="onNotificationClick(notification)"
            >
              <span class="notification-icon">
                <i class="fa" [ngClass]="getNotificationIcon(notification.type)"></i>
              </span>
              <span class="notification-copy">
                <span class="notification-title">{{ notification.title }}</span>
                <span class="notification-body">{{ notification.body }}</span>
              </span>
            </button>

            <div class="notification-empty" *ngIf="notifications.length === 0">
              No notifications yet.
            </div>
          </ng-container>
        </div>
      </li>

      <li class="nav-item dropdown" *ngIf="(currentUser$ | async) as currentUser">
        <a
          class="nav-link dropdown-toggle nav-interactive nav-profile-trigger"
          href="#"
          id="navbarDropdownMenuLink"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          <img [src]="profileImageUrl" class="nav-avatar rounded-circle" alt="Profile" />
          {{ currentUser.userName }}
        </a>

        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" [routerLink]='["/profile/" + currentUser.userName]'>View Profile</a>
          <a class="dropdown-item" [routerLink]='["/dashboard"]'>Dashboard</a>
          <a class="dropdown-item" [routerLink]='["/setting/profile"]'>Setting</a>
          <a class="dropdown-item" (click)="onLogout()">Log out</a>
        </div>
      </li>
    </ul> <!-- Logged In Nav Item End -->
  </div> <!-- Nav Collapse End-->
</nav> <!-- Nav Bar End -->
