<!-- Nav Bar Start -->
<nav class="navbar navbar-expand-md navbar-dark bg-shell navbar-body">
  <!-- Nav Toggle Start -->
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#mainNavbar"
    aria-controls="mainNavbar"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button> <!-- Nav Toggle End -->

  <a class="navbar-brand" (click)="navigateHome()">
    <img src="../../assets/img/AnalySim-Title.png" alt="AnalySim" />
  </a>

  <div id="mainNavbar" class="collapse navbar-collapse">
    <ul class="navbar-nav left-nav mr-auto justify-content-start align-items-center">
      <li class="nav-item">
        <a class="nav-link nav-interactive" [routerLink]="['/explore']" routerLinkActive="border-bottom">
          Explore
        </a>
      </li>

      <li class="nav-item" *ngIf="(loginStatus$ | async)">
        <a class="nav-link nav-interactive" [routerLink]="['/dashboard']" routerLinkActive="border-bottom">
          Dashboard
        </a>
      </li>

      <!-- Search Bar -->
      <li class="nav-item nav-search d-flex align-items-center">
        <form class="form" [formGroup]="searchForm" (ngSubmit)="onSubmit()">
          <div class="input-group input-group-sm search-group">
            <input
              type="text"
              class="form-control"
              placeholder="Search..."
              name="searchTerm"
              formControlName="searchTerm"
            />
            <div class="input-group-append">
              <button type="submit" class="btn search-btn">
                <i class="fa fa-search"></i>
              </button>
            </div>
          </div>
        </form>
      </li>
    </ul>

    <!-- Logged out -->
    <ul class="navbar-nav right-nav" *ngIf="!(loginStatus$ | async)">
      <li class="nav-item mr-2">
        <a class="nav-link nav-interactive" [routerLink]="['/register']" routerLinkActive="border-bottom">Register</a>
      </li>
      <li class="nav-item mr-2">
        <a class="nav-link nav-interactive" [routerLink]="['/login']" routerLinkActive="border-bottom">Login</a>
      </li>
    </ul>

    <!-- Logged in -->
    <ul class="navbar-nav right-nav" *ngIf="(loginStatus$ | async)">
      <li class="nav-item mr-3" *ngIf="(isAdmin$ | async)">
        <a class="nav-link nav-interactive" routerLink="/admin">
          <i class="fa fa-cogs mr-1"></i> Admin
        </a>
      </li>

      <li class="nav-item dropdown" *ngIf="(currentUser$ | async) as currentUser">
        <a
          class="nav-link dropdown-toggle nav-interactive nav-profile-trigger"
          href="#"
          id="navbarDropdownMenuLink"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          <img [src]="profileImageUrl" class="nav-avatar rounded-circle" alt="Profile" />
          {{ currentUser.userName }}
        </a>

        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" [routerLink]='["/profile/" + currentUser.userName]'>View Profile</a>
          <a class="dropdown-item" [routerLink]='["/dashboard"]'>Dashboard</a>
          <a class="dropdown-item" [routerLink]='["/setting/profile"]'>Setting</a>
          <a class="dropdown-item" (click)="onLogout()">Log out</a>
        </div>
      </li>
    </ul> <!-- Logged In Nav Item End -->
  </div> <!-- Nav Collapse End-->
</nav> <!-- Nav Bar End -->