.bg-header {
    background-color: var(--background-color-secondary);
    /* background-color:rgb(19, 76, 167); */
  }
  
  .navbar-brand:hover {
    /*color: #808080;*/
  }
  
  .nav-item {
    border-bottom: none !important;
  }
  
  .nav-link {
    border-bottom: none !important;
    border-radius: 3%;
    padding: 5%;
    display: flex;
    align-items: center;
  }
  
  .nav-link:hover {
    background-color: var(--button-background-color);
    color: var(--primary-color) !important;
    transition: 0.2s;
  }
  
  .navbar-brand {
    margin-left: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
  }
  
  .navbar-brand:hover {
    /*color: #4140aa !important;*/
  }
  
  .form {
    display: flex;
    align-items: center;
  }
  
  .input-group {
    display: flex;
    align-items: center;
  }
  
  .input-group-append {
    display: flex;
    align-items: center;
  }
  
  #navbarDropdownMenuLink {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 150px;
    text-decoration:none;
  }

  #navbarDropdownMenuLink > * {
    margin-right: 10px;
  }
  
  .dropdown-item:hover {
    background-color: var(--background-color-tertiary) !important;
    cursor: pointer;
  }
