@import 'assets/styles/abstracts/variables';

/* You can add global styles to this file, and also import other style files */
.invalid{
    border-color: #dc3545;
}

.valid{
    border-color: #28a745;
}

.nav-link:hover{
    color: #808080 !important;
    transition: .3s;
    
}

html{
    height: 100vh !important;
}

body{ 
    height: 100vh !important; 
    margin:0; 
}

section{
    margin: 0 !important;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.nav-tabs-content
{ 
    border: 1px solid #dee2e6;
    border-top: 1px solid white;

}

@font-face {
    font-family: 'icomoon';
    src:  url('assets/fonts/icomoon.eot?ucvmk2');
    src:  url('assets/fonts/icomoon.eot?ucvmk2#iefix') format('embedded-opentype'),
      url('assets/fonts/icomoon.ttf?ucvmk2') format('truetype'),
      url('assets/fonts/icomoon.woff?ucvmk2') format('woff'),
      url('assets/fonts/icomoon.svg?ucvmk2#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
    
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-observablehq:before {
    content: "\e900";
}



.btn-primary{
    color: #f8f8f8;
    background-color: green !important;
    border-color: green;
}

.bg-theme {
    background-color:  white;
    color: var(--font-primary-color);
}

.btn {
    &:hover:disabled {
        color: var(--button-font-color);
        cursor: none;
    }
}
    

.btn-primary-new {
    background-color: var(--button-background-color);
    border: var(--button-border-width) var(--button-border-style) var(--button-border-color);
    color: var(--button-font-color);

    &.btn:hover:not(:disabled) {
        background-color: var(--button-background-color-hov);
        border: var(--button-border-width) var(--button-border-style) var(--button-border-color-hov) !important;
        color: var(--button-font-color-hov);
    }
}

.btn-secondary-new {
    background-color: var(--button-background-color-secondary);
    border: var(--button-border-width) var(--button-border-style) var(--button-border-color-secondary);
    color: var(--button-font-color-secondary);

    &.btn:hover:not(:disabled) {
        background-color: var(--button-background-color-secondary-hov);
        border: var(--button-border-width) var(--button-border-style) var(--button-border-color-secondary-hov) !important;
        color: var(--button-font-color-secondary-hov);
    }
}

.background{
    background-color: var(--background-color);
    box-sizing: border-box;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
