<!-- Container Start -->
<div class="container-fluid dashboard-container" *ngIf="(currentUser$ | async) as currentUser">
    <!-- Row Start -->
    <div class="row">
        <!-- Sidebar Column Start -->
        <div class="col-md-4">
            <div class="row">
                <div class="col-md-12">
                    <app-dashboard-quickstart [currentUser]="currentUser"></app-dashboard-quickstart>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-md-12">
                    <app-dashboard-following [currentUser]="currentUser"></app-dashboard-following>
                </div>
            </div>
        </div> <!-- Sidebar Column End -->
        <!-- Main Content Column Start -->
        <div class="col-md-8">
                <app-dashboard-social></app-dashboard-social>
        </div> <!-- Main Content Column End -->
    </div>
</div> <!-- Container End -->
    
