<!-- Container Start -->
<div class="container-fluid my-5" *ngIf="(currentUser$ | async) as currentUser">
    <!-- Row Start -->
    <div class="row justify-content-center">
        <div class="col-md-10">
            <div class="row">
                <!-- Profile Description Column Start -->
                <div class="col-md-4">
                    <div class="row mb-3">
                        <div class="col-md-12">
                            <app-dashboard-quickstart [currentUser]="currentUser"></app-dashboard-quickstart>
                        </div>        
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <app-dashboard-following [currentUser]="currentUser"></app-dashboard-following>
                        </div>
                    </div>
                </div> <!-- Profile Description Column End -->
                <!-- Profile Follow List Column Start -->
                <div class="col-md-8">
                        <app-dashboard-social></app-dashboard-social>  
                </div> <!-- Profile Follow List Column End -->
            </div>
        </div>
        
    </div> <!-- Row End -->
</div> <!-- Container End -->
    
