<!-- Modal -->
<div class="modal-content">
    <div class="modal-header justify-content-center">
        <h5 class="modal-title">Fork {{project.name}}</h5>
        <button type="button" class="close" (click)="closeModal()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <!-- Body -->
    <div class="modal-body" *ngIf="currentUser!=null && !isExisted">
        <p>This project will be forked into your dashboard as {{currentUser.userName}}/{{project.name}}.</p>
    </div>

    <div class="modal-body" *ngIf="isExisted && newProject == null">
        <p>You've already forked {{project.name}}.</p>
    </div>

    <div class="modal-body" *ngIf="newProject != null">
        <p>Project successfully foked</p>
        <button type="button" class="btn btn-link" (click)="onNavigateToNewProject()">{{ newProject.route }}</button>
    </div>
    <!-- Footer -->
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" *ngIf="!isExisted" (click)="forkProjectClick()">Fork Project</button>
        <button type="button" class="btn btn-secondary" *ngIf="newProject == null" (click)="closeModal()">Cancel</button>
        <button type="button" class="btn btn-secondary" *ngIf="newProject != null" (click)="closeModal()">Close</button>

    </div>
</div>
