<!-- Container Start -->
<div class="container" *ngIf="currentUser != null">
    <!-- Row Start -->
    <div class="row justify-content-center">
        <!-- Column Start -->
        <div class="col-md-8">
            <!-- Card Start -->
            <div class="card my-5">
                <!-- Card Header -->
                <div class="card-header">
                    Profile Setting
                </div>
                <!-- Content Padding Start -->
                <div class="m-4">
                    <!-- Row Start -->
                    <div class="row justify-content-center">
                        <!-- Form Update Profile -->
                        <div class="col-md-9">
                            <!-- Profile Form -->
                            <form class="form" [formGroup]="profileForm" (ngSubmit)="onSubmit()">
                                <!-- Form Bio -->
                                <div class="form-group">
                                    <label for="bio">Bio</label>
                                    <textarea formControlName="bio" type="text" class="form-control" placeholder="">{{currentUser.bio}}</textarea>
                                </div>

                                <!-- Form Submit -->
                                <div class="form-group">
                                    <button type="submit" class="btn btn-success" value="Submit">Update Profile</button>  
                                </div>                                                   
                            </form>
                        </div>
                        <!-- Update Profile Image -->
                        <div class="col-md-3">
                            <h5>Profile Image</h5>
                            <img [src]="currentUser | profileImage" class="card-img img-thumbnail pl-1">
                            <div class="row mt-1">
                                <!-- Image Input -->
                                <div class="col-md-6 pr-1">
                                    <input id="fileInput" type="file"  (change)=fileEvent($event) hidden>
                                    <button class="btn btn-primary btn-sm btn-block" (click)="useFileInput()">Upload</button>
                                </div>
                                <!-- Clear Current Image -->
                                <div class="col-md-6 pl-1">
                                    <button class="btn btn-secondary btn-sm btn-block" (click)="clearProfile()">Clear</button>
                                </div>
                            </div>                   
                        </div>
                    </div> <!-- Row End -->
                </div> <!-- Content Padding End -->
            </div> <!-- Card End -->
        </div> <!-- Column End -->
    </div> <!-- Row End -->
</div> <!-- Container End -->


