<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom mb-3">
  
      <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">NeuroSimHub</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
              aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
        <ul class="navbar-nav flex-grow-2">
          <li class="nav-item">
            <a class="nav-link text-dark" [routerLink]='["/"]'>Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark"  [routerLink]='["/projects"]'>Projects</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark"  [routerLink]='["/login"]'>Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark"  [routerLink]='["/register"]'>Register</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-danger"></a>
          </li>
          <li class="nav-item">
            <a class="btn btn-primary text-white">Logout</a>
          </li>
  
        </ul>
  
  
      </div>
  
    </nav>
  </header>