<!-- Tag Form Start -->
<form class="form" [formGroup]="tagForm" (ngSubmit)="onSubmit()">
    <!-- Form Tag Input -->
    <div class="form-group">
        <div class="input-group my-3">
            <!-- Tag Input -->
            <input type="text" formControlName="tagName" class="form-control border border-dark" style= "height: 100%"placeholder="Add Tag...">
            <!-- Form Submit Button -->
            <div class="input-group-append">   
                <button class="btn btn-outline-dark" type="submit" value="Submit">
                    <span>Add Tag</span>
                </button>     
            </div> 
        </div>
    </div> 
</form> <!-- Tag Form End -->