<div class="container my-5 mx-auto">
    <div class="row justify-content-center mb-3">
        <div class="col-md-10">
            <!-- Nav Search Bar -->
            <div class="card">
                <div class="card-body">
                    <form class="form-control p-0" [formGroup]="searchForm" (ngSubmit)="onSubmit()">
                        <div class="input-group ">
                            <div class="input-group-prepend">
                                <select class="btn custom-select" style="color: #343a40; border-color: #343a40;" formControlName="searchCategory">
                                    <option value="project">Project</option>
                                    <option value="profile">Profile</option>
                                  </select>

                            </div>
                        <input type="text" class="form-control border border-dark" style= "height: 100%"placeholder="Search..." name="searchTerm" formControlName="searchTerm">
                        <div class="input-group-append">
                            <button class="btn btn-outline-dark">
                            <i class="fa fa-search"></i>
                            </button>     
                        </div>          
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-10">
            <div class="card">
                <div class="card-body">  
                    <div *ngIf="searchForm.value.searchCategory == 'project'">
                        <app-explore-project-detail class="mb-3" *ngFor="let project of projects" [project]=project></app-explore-project-detail>
                    </div>
                    <div *ngIf="searchForm.value.searchCategory == 'profile'">
                        <app-explore-profile-detail class="mb-3" *ngFor="let user of users" [user]=user></app-explore-profile-detail>
                    </div>        
                </div>
            </div>
        </div>
    </div>
    
</div>
