<div class="card ml-5 mr-5">
    <div class="card-header d-flex align-items-center">
        <span class="text-center">
            Quick Start
        </span>
        <button class="btn-sm btn-success ml-auto" type="submit">+</button>
    </div>
    <div class="card-subtitle">
        
    </div>
    <div class="card-body">
        <div class="card-block">
            <!-- Nav Search Bar -->
            <form class="form mb-3">
                <div class="input-group input-group-sm">
                    <input type="text" class="form-control" placeholder="Search...">
                    <div class="input-group-append">
                        <div class="input-group-text bg-white">
                            <i class="fa fa-search"></i>
                        </div>     
                    </div>          
                </div>
            </form>
        </div>
        <div class="card-block">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" href="#">Project</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Organization</a>
                    
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Cluster</a>
                </li>
            </ul>
        </div>
        <div class="nav-tab-border">
            <div class="m-5">
                <p>test</p>
            </div>
            
        </div>
    </div> 
</div>