.card-header {
  background-color: var(--primary-color);
  font-size: 18px;
  font-weight: 500;
}

.modal-content {
  background-color: var(--background-color-tertiary);
}

.empty-set{
  text-align: center;
}

.logs-list{
  display: flex;
  flex-direction: column;
  gap: var(--space-4);
}

.new-log{
  margin-bottom: var(--space-4);
}

.log-area {
  display: flex;
  flex-direction: column;
  gap: var(--space-4);
}

.log-area hr {
  width: 100%;
  border: 0;
  border-top: 2px solid rgba(0, 0, 0, 0.125);
} 

.btn-group{
  display: flex;
  gap: var(--space-3);
}

.archive-card {
  margin-bottom: var(--space-4);
  background-color: var(--background-color-tertiary);
  padding: var(--space-2);
}

.archive-title {
  font-size: x-large;
  font-weight: bold;
}

.archive-text {
  color: var(--text-muted);
  font-size: small;
}

.btn-width{
  width: 2.5rem;
}

.project-log-tabs {
  display: inline-flex;
  align-items: stretch;
}

.project-log-tab {
  border-radius: 0 !important;
  // margin: 0 !important;
  padding: var(--space-1) var(--space-2) !important;
  // line-height: 1.4;
}

.project-log-tab:first-child {
  border-top-left-radius: 4px !important;
  border-bottom-left-radius: 4px !important;
}

.project-log-tab:last-child {
  border-top-right-radius: 4px !important;
  border-bottom-right-radius: 4px !important;
  margin-left: calc(var(--button-border-width) * -1) !important;
}