.card-header {
  background-color: var(--primary-color);
  font-size: 18px;
  font-weight: 500;
}

.modal-content {
  background-color: var(--background-color-tertiary);
}

.empty-set{
  text-align: center;
}

.logs-list{
  display: flex;
  flex-direction: column;
  gap: var(--space-4);
}

.new-log{
  margin-bottom: var(--space-4);
}

.log-area {
  display: flex;
  flex-direction: column;
  gap: var(--space-4);
}

.log-area hr {
  width: 100%;
  border: 0;
  border-top: 2px solid rgba(0, 0, 0, 0.125);
} 
