<!-- Card Start -->
<div class="card">
    <!-- Card Header Start -->
    <div class="d-flex card-header flex-row align-items-center">
        <!-- Project Route Link Start -->
        <span class="h5 card-link mb-0" *ngIf="(project.route | route:'owner') as owner">
            <a [routerLink]='["/profile/" + owner]'>{{project.route | route:"owner"}}</a>
        </span>
        <span class="h4 mb-0 mx-1">  /  </span>
        <span class="h5 card-link mb-0" *ngIf="(project.route | route:'projectname') as projectname">
            <a [routerLink]='["/projects/" + projectname]'>{{ projectname }}</a>
        </span>
        <!-- Project Route Link End -->

        <!-- Follow Project Start -->
        <div class="d-inline-flex ml-auto">
            <button class="btn btn-primary float-right" type="button" *ngIf="!isFollowing" (click)="followProject()">
                Follow
                <span class="badge badge-light font-weight-light ml-1">
                    {{ project | role:"follower" }}
                </span>
            </button>

            <button class="btn btn-primary float-right" type="button" *ngIf="isFollowing" (click)="unFollowProject()">
                Unfollow
                <span class="badge badge-light font-weight-light ml-1">
                    {{ project | role:"follower" }}
                </span>
            </button>
        </div>
        <!-- Follow Project End -->
    </div>
    <!-- Card Header End -->
    
    <!-- Card Body Start -->
    <div class="card-body">      
      <p class="card-text">{{project.description}}</p>
    </div>
    <!-- Card Body End -->

    <!-- Card Tag Start -->
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <span class="badge badge-pill badge-info font-weight-light mr-2" *ngFor="let projectTag of project.projectTags">
            {{projectTag.tag.name}}
        </span>
      </li>
    </ul>
    <!-- Card Tag End -->

    <!-- Card Footer Start -->
    <div class="card-footer">
        <span><i class="fa fa-user mr-2"></i>{{ project | role:"member" }}</span>  
        <span class="float-right">Last Updated {{ project.lastUpdated | timeElapsed}} Ago</span>
    </div>
    <!-- Card Footer End -->
</div>
<!-- Card End -->