<!-- User List Item Start -->
<li class="list-group-item">
    <div class="row align-items-center">
        <!-- User Profile Image -->
        <div class="col-md-2">
            <img [src]="projectUser.user | profileImage" style="width: 40px;" class="card-img img-thumbnail pl-1">
        </div>
        <!-- User Name -->
        <div class="col-md-5 d-flex justify-content-start">
            {{projectUser.user.userName}}
        </div>
        <!-- User Role -->
        <div class="col-md-4">
            <span class="badge badge-secondary">{{projectUser.userRole | titlecase}}</span>
        </div>
        <!-- Delete User -->
        <div class="col-md-1">
            <span (click)="deleteUser()">
                <i class="fa fa-trash-alt"></i>
            </span>
        </div>
    </div>  
</li> <!-- User List Item End -->
