/* You can add global styles to this file, and also import other style files */

#success-btn {
  background-color: #256d85;
}


.invalid {
  border-color: #dc3545 !important;
}

.valid{
    border-color: #28a745 !important;
}

.create-button {
  background-color: #2a6a8a;
  color: #01234a !important;
}
