<!-- LOGIN SECTION -->
<section class="login-block mt-5">
    <div class="container">
        <div class="row justify-content-center mx-auto">
            <div class="col-md-8">
                <div class="card bg-light">
                    <article class="card-body">
                        <h2 class="card-title text-center mb-4 mt-1">Error</h2>
                        <hr>
                        <div class="text-center">
                            <h1>
                                Oops! 404 Not Found
                            </h1>
                            <p>
                                Sorry, an error has occured, Requested page not found!
                            </p>
                            <div class="card-footer bg-light">
                                <a class="btn btn-primary btn-lg mr-2 " (click)="backClicked()">
                                    Back
                                </a>
                                <div *ngIf="!(loginStatus$ | async); then showHome else showDashboard"></div>
                                    <ng-template #showHome>
                                        <a class="btn btn-success btn-lg ml-2" [routerLink]='["/home"]'>
                                            Home
                                        </a>
                                    </ng-template>
                                    <ng-template #showDashboard>
                                        <a class="btn btn-success btn-lg ml-2" [routerLink]='["/dashboard"]'>
                                            Dashboard
                                        </a>
                                    </ng-template>
                            </div>
                        </div> 
                    </article>
                </div> <!-- card.// -->
            </div>
        </div>     
    </div>
</section>
