<!-- Container Start -->
<div class="container mt-5 mb-5">
    <div class="row justify-content-md-center">
        <!-- Column Start -->
        <div class="col-md-8">
            <!-- Card Start -->
            <div class="card bg-light">
                <!-- Card Body Start -->
                <div class="card-body">
                    <!-- Card Header Start-->
                    <h4 class="card-title text-center mb-4 mt-1">Project Creation</h4>
                    <hr>
                    <!-- Card Header End -->

                    <!-- Form Start -->
                    <form class="form" [formGroup]="projectForm" (ngSubmit)="onSubmit()">

                        <!--  
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-6">
                                    <button class="btn btn-big btn-light btn-block" type="radio" toggled>
                                        <div class="btn-title">Public</div>
                                        <div class="btn-subtitle">Anyone can see this project</div>   
                                    </button>
                                </div>
                                <div class="col-md-6">
                                    <button class="btn btn-big btn-light btn-block" type="radio">
                                        <div class="btn-title">Private</div>
                                        <div class="btn-subtitle">Only those you invite to view can view</div>   
                                    </button>
                                </div>
                            </div>                        
                        </div>
                        -->

                        <div class="form-group">
                            <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" formControlName="visibility" id="inlineRadio1" value="public">
                            <label class="form-check-label" for="inlineRadio1">Public</label>
                          </div>
                          <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" formControlName="visibility" id="inlineRadio2" value="private">
                            <label class="form-check-label" for="inlineRadio2">Private</label>
                          </div>
                        </div>

                        <!-- Form Project Name -->
                        <div class="form-group">
                            <label for="name">Project Name</label>
                            <input formControlName="name" type="text" class="form-control" placeholder="" required>
                            <div *ngIf="name.touched && name.errors" class="text-danger">
                                <p class="mb-0 p-1" *ngIf="name.errors?.noSpaceSpecial">No Space or Special Character</p>
                                <p class="mb-0 p-1"  *ngIf="name.errors?.minlength">Minimum 5 Character</p>
                                <p class="mb-0 p-1"  *ngIf="name.errors?.maxlength">maximum 20 Character</p>
                            </div>
                        </div> 

                        <!-- Form Description -->
                        <div class="form-group">
                            <label for="description">Description</label>
                            <textarea formControlName="description" type="text" class="form-control" placeholder=""></textarea>
                        </div>

                        <!-- Form Tag 
                        <div class="form-group">
                            <label for="file">File</label>
                    
                            <div class="custom-file mb-4">
                                <input formContolName="fileUpload" type="file" class="custom-file-input" (change)=fileEvent($event) multiple>
                                <label class="custom-file-label" for="customFile">Choose file</label>
                            </div>

                            Drop Zone
                            <div class="upload-drop-zone d-flex justify-content-center align-items-center" id="drop-zone" *ngIf="files.length == 0">
                                <p class="text-center m-0">Drag and drop files here</p>              
                            </div>

                            
                            <table class="table" *ngIf="files.length > 0">
                                <tr *ngFor="let file of files.controls">
                                    <app-upload-files [file]=file [key]=key (deleteFormControl)="deleteFormControl($event)"></app-upload-files>
                                </tr>
                            </table>
                            
                        </div>
                        -->

                        <!-- Form Create Project -->
                        <div class="form-group">
                            <button type="submit" class="btn btn-success btn-block" value="Submit">
                                <div *ngIf="isLoading; then showLoading else showCreate"></div>
                                <ng-template #showCreate>
                                    <span *ngIf="!isLoading then">Create Project</span>
                                </ng-template>
                                <ng-template #showLoading>
                                    <div class="spinner-border" role="status">
                                        <span class="sr-only"></span>
                                    </div>
                                </ng-template>
                            </button>                
                        </div>

                    </form>
                    <!-- Form End -->
                </div>
                <!-- Card Body End -->
            </div>
            <!-- Card End -->
        </div>
        <!-- Column End -->
        </div>
    <!-- Row End -->
</div>
<!-- Container End -->

<ng-template #loadingModal>
    <div class="modal-header">
        <div class="spinner-border" role="status">
            <span class="sr-only"></span>
        </div>
    </div>
</ng-template>