<div class="container-fluid h-100">
    <div class="row h-100">
        <div class="col-md-2 p-0">
            <aside class="h-100 py-5 px-4" style="background-color:#222">
                <ul class="list-group list-group-flush text-white">
                    <li class="list-group-item"><i class="fa fa-home fa-fw"></i> Home</li>
                    <li class="list-group-item"><i class="fa fa-file fa-fw"></i> Report</li>
                    <li class="list-group-item"><i class="fa fa-folder fa-fw"></i> File Explorer</li>
                    <li class="list-group-item"><i class="fa fa-cog fa-fw"></i> Setting</li>
                </ul>
            </aside>
            
        </div>
        <div class="col-md-10">
            <div class="sticky-top">
                ...
            </div>
        </div>
    </div>
</div>